/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* no browser support message */
#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-weight: normal;
  overflow: auto;
}


html.no-video #browser-is-not-supported,
html.no-multiplebgs #browser-is-not-supported,
html.no-videoloop #browser-is-not-supported,
html.no-cssvhunit #browser-is-not-supported,
html.no-cssvwunit #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-bgsizecover #browser-is-not-supported,
html.no-csstransforms3d #browser-is-not-supported,
html.no-csstransitions #browser-is-not-supported,
html.no-rgba #browser-is-not-supported {
  display: block;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}
/* !no browser support message */

/* content loader */
#content-loader {
  z-index: 2147483645;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(200,200,200,1)), color-stop(100%, rgba(255,255,255,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%);
  background-size: 200% 200%;
  background-position: center center;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  -webkit-animation: loaderbg 4s infinite ease;
  -moz-animation: loaderbg 4s infinite ease;
  -o-animation: loaderbg 4s infinite ease;
  animation: loaderbg 4s infinite ease;
}

@-webkit-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@-moz-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@-o-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #333;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -o-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #333;
  -webkit-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -o-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* !content loader */