body {
  background-image: url("../img/body-bg.jpg");
  background-size: cover;
  background-position: center center;
}

video { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../img/cover.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -o-transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -moz-transition: 1s opacity;
  transition: 1s opacity;
  z-index: -1;
}

.nobr {
  white-space:nowrap;
}

ul#site-links {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 10%;
}

ul#site-links > li {
  position: absolute;
  display: inline-block;
  bottom: 10%;
  margin: 0;
  padding: 130px 2% 15px 2%;
  text-align: center;
  float: left;
  font-size: 2vh;
  background-repeat: no-repeat;
  background-position: center 15px;
  max-width: 45%;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  -kthtml-transition: all .6s ease-out;
  transition: all .6s ease-out;
  cursor: pointer;
}

ul#site-links > li:hover {
  background-color: rgba(255,255,255,0.7);
}

ul#site-links > li.yararchive {
  background-image: url("../img/yararchive.png");
  right: 50%;
}

ul#site-links > li.upda {
  background-image: url("../img/yar.png");
  left: 50%;
}

ul#site-links > li a {
  color: #000;
  text-shadow: 1px 1px 1px rgba(50,50,50,0.7);
}

/* docs container */
.photo-block {
  width: 100%;
  text-align: center;
}

.photo-block .docs-container {
  display: inline-block;
  vertical-align: top;
}

.photo-block.double .docs-container {
  width: 49%;
}

.photo-block.triple .docs-container {
  width: 32%;
}

.docs-container .imgs {
  width: 99%;
  padding: 2.2em 0 0 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 10px 0 #858585;
  margin-bottom: 10px;
  -webkit-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -ms-transition: all .8s ease-out;
  -kthtml-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #252525;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.photo-block .docs-container.single .imgs img {
  max-width: 99%;
}

.docs-container.single .imgs img {
  max-width: 80%;
}

.docs-container.double .imgs img {
  max-width: 47%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.triple .imgs img {
  max-width: 30%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.four .imgs img {
  max-width: 22%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.five .imgs img {
  max-width: 17%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.six .imgs img {
  max-width: 14%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container.seven .imgs img {
  max-width: 11%;
  margin-left: 1%;
  margin-right: 1%;
}

.docs-container .desc {
  width: 80%;
  margin-left: 10%;
  padding: 0 0 3em 0;
}

.docs-container .desc p {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 80%;
}
/* !docs container */

#navigation {
  z-index: 2147483644;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -80px;
  padding: 0;
  list-style-type: none;
}

#navigation li {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: rgba(170,170,170,.7);
  text-align: center;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  -kthtml-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

#navigation li:hover {
  background-color: rgba(170,170,170,1);
}

#contents {
  margin: 0 7%;
  font-size: 3vmin;
}

#contents a {
  color: #000;
  font-weight: normal;
}

#contents a:hover {
  font-weight: bold;
}

#contents li {
  padding-bottom: 10px;
}

#slides-container {
  overflow: hidden;
}

.slide {
  height: 500px;
  background-color: rgba(255,255,255,0.85);
  overflow: auto;
  background-image: url("../img/videotape-top.png"), url("../img/videotape-bottom.png");
  background-position: center top, center bottom;
  background-repeat: repeat-x;
  background-size: auto 5%, auto 5%;
}

.slide.cover {
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
}

.slide.cover h1,
.slide.cover h2,
.slide.cover h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.slide.cover h1 {
  padding-top: 10%;
  font-size: 5vh;
  text-shadow: 1px 1px 3px rgba(50,50,50,0.7);
}

.slide.cover h2 {
  font-size: 4vh;
}

.slide.cover h3 {
  font-size: 3vh !important;
}

.slide .slide-content {
  width: 90%;
  margin: 6% auto;
}

.slide .slide-content h3 {
  font-weight: normal;
  text-align: center;
  font-size: 4vh;
}

.slide .slide-content p.slide-num {
  text-align: center;
  font-size: 50vh;
  margin: 0;
  padding: 0;
}

.slide .slide-content h2.section-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 8vh;
  margin-bottom: 15px;
}

.bx-wrapper .bx-viewport {
  border: 0 !important;
  left: 0 !important;
  background: none;
}

.bx-wrapper .bx-loading {
  background-image: url("../img/videotape-top.png"), url("../img/videotape-bottom.png"), url("../img/bx_loader.gif");
  background-position: center top, center bottom, center center;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto 5%, auto 5%, auto;
  background-color: rgba(255,255,255,0.85);
}

.lb-caption a {
  color: #fff;
}