<h3>Оглавление</h3>
<ul id="contents">
  <li><a href="#page/2">Начало пути</a></li>
  <li><a href="#page/12">Ярославская область в Великой Отечественной войне 1941&nbsp;&mdash; 1945 гг.</a></li>
  <li><a href="#page/25">Ярославская область в&nbsp;период восстановления и&nbsp;дальнейшего развития народного хозяйства. 1946&nbsp;&mdash; 1960 гг.</a></li>
  <li><a href="#page/33">Ярославская область в&nbsp;<span class="nobr">1970-е</span> гг.</a></li>
  <li><a href="#page/40">Ярославская область в&nbsp;<span class="nobr">1980-е</span> гг.</a></li>
  <li><a href="#page/47">Ярославская область в&nbsp;<span class="nobr">1990&ndash;2000</span>-е гг.</a></li>
</ul>