<h3>Сельское хозяйство</h3>

<p>До&nbsp;начала Великой Отечественной войны в&nbsp;Ярославской области постоянно совершенствовалась организация сельскохозяйственного производства, укреплялась <span class="nobr">материально-техническая</span> база колхозов и&nbsp;совхозов. К&nbsp;концу 1937&nbsp;г. была практически завершена коллективизация в&nbsp;области. Сельскохозяйственные артели объединяли 98,2% дворов и&nbsp;99,7% посевных площадей. Вместо 250 тыс. мелких крестьянских хозяйств стало около 4,7 тыс. колхозов. Кроме того, в&nbsp;области было 32 совхоза.</p>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/96.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/96.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/96.jpg"></a>
    <a data-title="<a href='img/docs/97.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/97.jpg"><img alt="" src="img/docs/thumbs/97.jpg"></a>
  </div>
  <div class="desc">
    <p>Государственный акт на&nbsp;вечное пользование землей колхоза им.&nbsp;Калинина Ярославского района. 1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.1. Д. <span class="nobr">2049-а</span>. Л.1&ndash;2.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/98.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/98.jpg"><img alt="" src="img/docs/thumbs/98.jpg"></a>
    </div>
    <div class="desc">
      <p>Председатель Президиума Верховного Совета СССР М.&nbsp;И. Калинин в&nbsp;группе передовиков Ярославской области, награжденных орденами и&nbsp;медалями СССР. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2470.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/99.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/99.jpg"><img alt="" src="img/docs/thumbs/99.jpg"></a>
    </div>
    <div class="desc">
      <p>Группа лучших льноводов Ярославской области.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1231.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/100.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/100.jpg"><img alt="" src="img/docs/thumbs/100.jpg"></a>
    </div>
    <div class="desc">
      <p>Председатель колхоза &laquo;Горшиха&raquo; Ярославского района Ф.&nbsp;А.&nbsp;Щукин и&nbsp;другие колхозники подписываются на&nbsp;заем 3-й пятилетки.&nbsp;1940&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1843.</p>
    </div>
  </div>
</div>

<p>Успехи в&nbsp;развитии сельского хозяйства в&nbsp;предвоенные годы дали право Ярославской области быть широко представленной на&nbsp;Всесоюзной сельскохозяйственной выставке в&nbsp;1939 и&nbsp;1940 гг.&nbsp;Целый ряд колхозов получил дипломы I&nbsp;и&nbsp;II&nbsp;степени. Многих колхозников и&nbsp;специалистов сельского хозяйства наградили золотыми и&nbsp;серебряными медалями.</p>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/101.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/101.jpg"><img alt="" src="img/docs/thumbs/101.jpg"></a>
    </div>
    <div class="desc">
      <p>Передовики сельского хозяйства Ярославской области на&nbsp;ВДНХ СССР в&nbsp;г. Москве.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1251.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/106.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/106.jpg"><img alt="" src="img/docs/thumbs/106.jpg"></a>
    </div>
    <div class="desc">
      <p>Областная сельскохозяйственная выставка в&nbsp;г. Ярославле.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1250.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/102.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/102.jpg"><img alt="" src="img/docs/thumbs/102.jpg"></a>
    <a data-title="<a href='img/docs/103.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/103.jpg"><img alt="" src="img/docs/thumbs/103.jpg"></a>
    <a data-title="<a href='img/docs/104.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/104.jpg"><img alt="" src="img/docs/thumbs/104.jpg"></a>
    <a data-title="<a href='img/docs/105.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/105.jpg"><img alt="" src="img/docs/thumbs/105.jpg"></a>
  </div>
  <div class="desc">
    <p>Карта и&nbsp;характеристика передовых хозяйств Ярославской области&nbsp;&mdash; участников Всесоюзной сельскохозяйственной выставки. 1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.1. Д.1292. Л.70, 74 и&nbsp;об., 75.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/107.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="9" href="img/docs/107.jpg"><img alt="" src="img/docs/thumbs/107.jpg"></a>
  </div>
  <div class="desc">
    <p>Список колхозов Любимского района Ярославской области, выделяющих рабочую силу на&nbsp;строительство Ярославского автозавода. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;3. Д. 29. Л. 68.</p>
  </div>
</div>