<h3>Территориальное деление</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/113.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="10" href="img/docs/113.jpg"><img alt="" src="img/docs/thumbs/113.jpg"></a>
    <a data-title="<a href='img/docs/108.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="10" href="img/docs/108.jpg"><img alt="" src="img/docs/thumbs/108.jpg"></a>
    <a data-title="<a href='img/docs/109.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="10" href="img/docs/109.jpg"><img alt="" src="img/docs/thumbs/109.jpg"></a>
    <a data-title="<a href='img/docs/111.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="10" href="img/docs/111.jpg"><img alt="" src="img/docs/thumbs/111.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы по&nbsp;административно-территориальному делению Ярославской области. 1930&ndash;1940-е гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;1. Д. 212. Л. 292, 384об., 385; Д. 42. Л. 95.</p>
  </div>
</div>