<h2 class="section-name"><span class="nobr">Часть 2.</span> Яро&shy;слав&shy;ская об&shy;ласть в&nbsp;Ве&shy;ли&shy;кой Оте&shy;чес&shy;твен&shy;ной вой&shy;не <span class="nobr">1941&nbsp;&mdash; 1945 гг.</span></h2>