<h3>Начало войны</h3>
<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/115.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/115.jpg"><img alt="" src="img/docs/thumbs/115.jpg"></a>
    <a data-title="<a href='img/docs/116.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/116.jpg"><img alt="" src="img/docs/thumbs/116.jpg"></a>
    <a data-title="<a href='img/docs/117.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/117.jpg"><img alt="" src="img/docs/thumbs/117.jpg"></a>
    <a data-title="<a href='img/docs/118.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/118.jpg"><img alt="" src="img/docs/thumbs/118.jpg"></a>
    <a data-title="<a href='img/docs/119.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/119.jpg"><img alt="" src="img/docs/thumbs/119.jpg"></a>
    <a data-title="<a href='img/docs/120.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/120.jpg"><img alt="" src="img/docs/thumbs/120.jpg"></a>
    <a data-title="<a href='img/docs/121.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/121.jpg"><img alt="" src="img/docs/thumbs/121.jpg"></a>
    <a data-title="<a href='img/docs/122.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/122.jpg"><img alt="" src="img/docs/thumbs/122.jpg"></a>
    <a data-title="<a href='img/docs/123.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/123.jpg"><img alt="" src="img/docs/thumbs/123.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;документов Ярославского облисполкома и&nbsp;Ярославского горисполкома.&nbsp;1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;2. Д. 227. Л. 103; Ф. Р-1269. Оп.&nbsp;3. Д. 45. Л. 2, 4-7, Д. 44. Л. 105.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/124.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/124.jpg"><img alt="" src="img/docs/thumbs/124.jpg"></a>
    <a data-title="<a href='img/docs/125.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/125.jpg"><img alt="" src="img/docs/thumbs/125.jpg"></a>
    <a data-title="<a href='img/docs/126.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="13" href="img/docs/126.jpg"><img alt="" src="img/docs/thumbs/126.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы о&nbsp;введении карточной системы на&nbsp;продовольствие, о&nbsp;мобилизации трудоспособного населения на&nbsp;промышленные предприятия. 1941&ndash;1942&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;2. Д. 233. Л. 61; Ф. Р-1269. Оп.&nbsp;3. Д. 80. Л. 69, 45.</p>
  </div>
</div>