<h3>Строительство оборонительных сооружений</h3>
<p>С&nbsp;первых месяцев войны тысячи ярославцев из&nbsp;всех районов области участвовали в&nbsp;строительстве оборонительных сооружений на&nbsp;Московском и&nbsp;Ленинградском направлениях. На&nbsp;линии обороны Осташково&nbsp;&mdash; Валдай&nbsp;&mdash; Боровичи&nbsp;&mdash; Волхов работали более 85 тыс. жителей Ярославской области. В&nbsp;Ярославском областном архиве и&nbsp;его филиале&nbsp;&mdash; Центре документации новейшей истории сохранились списки нескольких тысяч человек, награжденных медалями &laquo;За&nbsp;оборону Москвы&raquo; и&nbsp;&laquo;За&nbsp;оборону Ленинграда&raquo; за&nbsp;трудовой героизм, проявленный на&nbsp;строительстве оборонительных сооружений.</p>
<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/128.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/128.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/128.jpg"></a>
  </div>
  <div class="desc">
    <p>Решение исполнительного комитета Ярославского областного Совета депутатов трудящихся от&nbsp;21&nbsp;октября 1941&nbsp;г. &#8470;&nbsp;1592 &laquo;Об&nbsp;обязательной трудовой и&nbsp;гужевой повинности по&nbsp;строительству оборонных сооружений в&nbsp;Ярославской области&raquo;. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;2. Д. 233. Л. 39.</p>
  </div>
</div>
<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/127.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/127.jpg"><img alt="" src="img/docs/thumbs/127.jpg"></a>
    <a data-title="<a href='img/docs/129.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/129.jpg"><img alt="" src="img/docs/thumbs/129.jpg"></a>
    <a data-title="<a href='img/docs/130.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/130.jpg"><img alt="" src="img/docs/thumbs/130.jpg"></a>
  </div>
  <div class="desc">
    <p>На&nbsp;строительстве оборонительных сооружений.&nbsp;1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-10037, П1-17617; Ф. Р-2380. Оп.&nbsp;2. Д. 233. Л. 39.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/131.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/131.jpg"><img alt="" src="img/docs/thumbs/131.jpg"></a>
    <a data-title="<a href='img/docs/132.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/132.jpg"><img alt="" src="img/docs/thumbs/132.jpg"></a>
    <a data-title="<a href='img/docs/135.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/135.jpg"><img alt="" src="img/docs/thumbs/135.jpg"></a>
    <a data-title="<a href='img/docs/133.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/133.jpg"><img alt="" src="img/docs/thumbs/133.jpg"></a>
    <a data-title="<a href='img/docs/134.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="14" href="img/docs/134.jpg"><img alt="" src="img/docs/thumbs/134.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;документов Управления <span class="nobr">военно-полевого</span> строительства НКО СССР о&nbsp;строительстве оборонительных сооружений на&nbsp;границах Ярославской области. <span class="nobr">1941&mdash;1942 гг.</span>&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-1729</span>. Оп.1. Д.4. Л.5,6,10,11,61.</p>
  </div>
</div>