<h3>Эвакуация</h3>
<p>Уже в&nbsp;июле 1941&nbsp;г. в&nbsp;Ярославль стали прибывать из&nbsp;Ленинграда эшелоны с&nbsp;заводским оборудованием и&nbsp;эвакуированными рабочими. Сюда были эвакуированы заводы: &laquo;Красный парус&raquo;, &laquo;Красный водник&raquo;, &laquo;Красный Треугольник&raquo;, завод металлических школьных принадлежностей им.&nbsp;<span class="nobr">Л. Б. Красина</span> &laquo;Союз&raquo;; филиал Ленинградского института инженеров водного транспорта, Краснознаменное училище военных сообщений им.&nbsp;<span class="nobr">М. В. Фрунзе</span>, другие предприятия, организации, учебные заведения, школы, профтехучилища, детские дома и&nbsp;сады. В&nbsp;г.&nbsp;Углич были вывезены производство и&nbsp;рабочие завода точных технических камней. В&nbsp;г.&nbsp;Ростове были размещены Ленинградские театры драмы и&nbsp;оперетты. Предприятия и&nbsp;учреждения из&nbsp;Ленинграда размещались также и&nbsp;в&nbsp;других городах Ярославской области. В&nbsp;соответствии с&nbsp;постановлением Совета по&nbsp;эвакуации Совнаркома СССР Ярославская область предоставила переводимым организациям необходимые рабочие помещения и&nbsp;жилплощадь для сотрудников и&nbsp;их&nbsp;семей.</p>
<p>С&nbsp;началом массовой эвакуации населения из&nbsp;Ленинграда в&nbsp;Ярославской области были организованы пункты приема эвакуированных, стационары для лечения. Только в&nbsp;феврале 1942&nbsp;г. в&nbsp;Ярославль из&nbsp;Ленинграда прибыло 167 эшелонов с&nbsp;316 тыс. эвакуированных. Всего за&nbsp;годы войны через станцию Всполье (ныне <span class="nobr">Ярославль-Главный</span>) прошло 758 эшелонов, в&nbsp;которых было свыше 600 тыс. чел., эвакуированных из&nbsp;Ленинградской, Смоленской, Калининской и&nbsp;других областей. Для ленинградских блокадников в&nbsp;городе было организовано 26 стационаров.</p>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/136.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/136.jpg"><img style="max-width: 18%;" alt="" src="img/docs/thumbs/136.jpg"></a>
    <a data-title="<a href='img/docs/137.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/137.jpg"><img style="max-width: 18%;" alt="" src="img/docs/thumbs/137.jpg"></a>
    <a data-title="<a href='img/docs/138.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/138.jpg"><img alt="" src="img/docs/thumbs/138.jpg"></a>
    <a data-title="<a href='img/docs/139.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/139.jpg"><img alt="" src="img/docs/thumbs/139.jpg"></a>
    <a data-title="<a href='img/docs/140.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/140.jpg"><img alt="" src="img/docs/thumbs/140.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;документов Ярославского облисполкома и&nbsp;Ярославского горисполкома о&nbsp;приеме и&nbsp;устройстве эвакуированных в&nbsp;область жителей западных областей СССР, захваченных фашистскими войсками. 1941&ndash;1942&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-1269. Оп.&nbsp;3. Д. 40. Л. 430; Р-3335. Оп.&nbsp;1. Д. 87. Л.61; Ф. Р-2380. Оп.&nbsp;3. Д. 241. Л. 2, 14, 55.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/141.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/141.jpg"><img alt="" src="img/docs/thumbs/141.jpg"></a>
    <a data-title="<a href='img/docs/142.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/142.jpg"><img alt="" src="img/docs/thumbs/142.jpg"></a>
    <a data-title="<a href='img/docs/143.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/143.jpg"><img alt="" src="img/docs/thumbs/143.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы Ярославского облисполкома о&nbsp;размещении прибывших в&nbsp;Ярославскую область эвакуированных детей блокадного Ленинграда.&nbsp;1942&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;3. Д. 278. Л.15, 35, 103.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/144.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/144.jpg"><img alt="" src="img/docs/thumbs/144.jpg"></a>
    </div>
    <div class="desc">
      <p>Воспитанники детского дома, эвакуированного из&nbsp;Ленинграда, на&nbsp;экскурсии в&nbsp;Ярославле.&nbsp;1945&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2864.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/145.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/145.jpg"><img alt="" src="img/docs/thumbs/145.jpg"></a>
    </div>
    <div class="desc">
      <p>Воспитанники детского дома, эвакуированного из&nbsp;г. Ленинграда в&nbsp;г. Переславль-Залесский, помогают доить коров.&nbsp;1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-5995.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/146.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/146.jpg"><img alt="" src="img/docs/thumbs/146.jpg"></a>
    </div>
    <div class="desc">
      <p>Воспитанники детского дома, эвакуированного из&nbsp;г. Ленинграда в&nbsp;г. Переславль-Залесский, на&nbsp;полевых работах.&nbsp;1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-5993.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/147.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/147.jpg"><img style="max-width: 40%;" alt="" src="img/docs/thumbs/147.jpg"></a>
    </div>
    <div class="desc">
      <p>Письмо начальника Главного управления Северного морского пути при СНК СССР в&nbsp;Ярославский обком ВКП(б) с&nbsp;выражением благодарности за&nbsp;помощь, оказанную сотрудникам Главсевморпути, эвакуированным из&nbsp;г. Ленинграда в&nbsp;г. Ярославль.&nbsp;7&nbsp;июля 1942&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 272. Оп.&nbsp;224. Д. 574. Л. 43.</p>
    </div>
  </div>
</div>