<h3>Налеты на Ярославль</h3>
<p>В&nbsp;результате бомбардировок вражеской авиации в&nbsp;ноябре и&nbsp;декабре 1941&nbsp;г. на&nbsp;Ярославль было сброшено 185 авиабомб.</p>
<p>Получили значительные повреждения предприятия города. Было полностью или частично разрушено свыше 3 тыс. жилых домов и&nbsp;различных построек, убито 46 человек, ранено 52 человека.</p>
<p>По&nbsp;сводным данным штаба МПВО за&nbsp;годы войны на&nbsp;Ярославль было совершено 13 налетов вражеской авиации. На&nbsp;город было сброшено более 1000 фугасных и&nbsp;более 700 зажигательных бомб. Во&nbsp;время налетов пострадало 1105 человек, 355 из&nbsp;них погибло.</p>
<p>Над территорией Ярославля и&nbsp;области было сбито 27 фашистских самолетов.</p>
<p>Ярославцы прилагали огромные усилия для ликвидации последствий вражеских налетов. Самоотверженно действовали отряды самообороны. Они уничтожали зажигательные бомбы, тушили пожары, оказывали помощь раненым, спасали имущество.</p>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/148.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="16" href="img/docs/148.jpg"><img alt="" src="img/docs/thumbs/148.jpg"></a>
    <a data-title="<a href='img/docs/149.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="16" href="img/docs/149.jpg"><img alt="" src="img/docs/thumbs/149.jpg"></a>
    <a data-title="<a href='img/docs/150.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="16" href="img/docs/150.jpg"><img alt="" src="img/docs/thumbs/150.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы об&nbsp;ущербе, нанесенном Ярославлю фашистскими бомбардировками в&nbsp;1943&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2301. Оп.&nbsp;6. Д. 122. Л. 88-88&nbsp;об.; Ф. Р-2380. Оп.&nbsp;3. Д. 298. Л. 85.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/151.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/151.jpg"><img style="max-width: 47%;" alt="" src="img/docs/thumbs/151.jpg"></a>
    </div>
    <div class="desc">
      <p>Боевое донесение о&nbsp;результатах налета авиации противника по&nbsp;Кагановичскому району г.&nbsp;Ярославля в&nbsp;ночь <span class="nobr">20&mdash;21 июня</span> 1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-3631</span>. Оп.1. Д.5. Л.34.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/152.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="15" href="img/docs/152.jpg"><img alt="" src="img/docs/thumbs/152.jpg"></a>
    </div>
    <div class="desc">
      ГКУ ЯО ГАЯО. Ф.Р-3631. Оп.1. Д.3. Л.8.
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/153.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="16" href="img/docs/153.jpg"><img alt="" src="img/docs/thumbs/153.jpg"></a>
    <a data-title="<a href='img/docs/154.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="16" href="img/docs/154.jpg"><img style="max-width: 20%;" alt="" src="img/docs/thumbs/154.jpg"></a>
  </div>
  <div class="desc">
    <p>Сведения о&nbsp;результатах налета на&nbsp;Ярославль фашистских бомбардировщиков 10 июня 1943&nbsp;г. и&nbsp;о&nbsp;понесенном ущербе. 11 июня 1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-3631</span>. Оп.1. Д.4. Л.34, 36.</p>
  </div>
</div>