<h3>На фронтах войны</h3>
<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/155.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/155.jpg"><img alt="" src="img/docs/thumbs/155.jpg"></a>
    <a data-title="<a href='img/docs/156.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/156.jpg"><img alt="" src="img/docs/thumbs/156.jpg"></a>
    <a data-title="<a href='img/docs/157.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/157.jpg"><img alt="" src="img/docs/thumbs/157.jpg"></a>
  </div>
  <div class="desc">
    <p>Рапорт 234-й Ломоносовско-Пражской стрелковой дивизии секретарю Ярославского обкома ВКП(б) и&nbsp;председателю Ярославского облисполкома о&nbsp;боевом пути дивизии.&nbsp;1943&nbsp;г. Ярославцы в&nbsp;годы Великой Отечественной войны: сб. док.&nbsp;/ Парт. архив Яросл. обкома КПСС, Гос. архив Яросл. обл. ; [сост.: Н.&nbsp;С.&nbsp;Алексеева [и&nbsp;др.] ; редкол.: И.&nbsp;И.&nbsp;Сидоров (отв. ред.) [и&nbsp;др.]. &mdash;&nbsp;Ярославль: Кн. изд-во, 1960. &mdash;&nbsp;С. 359-362.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/158.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/158.jpg"><img alt="" src="img/docs/thumbs/158.jpg"></a>
    </div>
    <div class="desc">
      <p>Схема боевого пути 243 Никопольско-Хинганской стрелковой дивизии, сформированной в&nbsp;Ярославской области. 1941&ndash;1945&nbsp;гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 933(12).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/164.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/164.jpg"><img alt="" src="img/docs/thumbs/164.jpg"></a>
    </div>
    <div class="desc">
      <p>Экипаж самолета ТБ-7 после очередного боевого задания.&nbsp;1942&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1772.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/159.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/159.jpg"><img alt="" src="img/docs/thumbs/159.jpg"></a>
    <a data-title="<a href='img/docs/160.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/160.jpg"><img alt="" src="img/docs/thumbs/160.jpg"></a>
    <a data-title="<a href='img/docs/161.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/161.jpg"><img alt="" src="img/docs/thumbs/161.jpg"></a>
  </div>
  <div class="desc">
    <p>Встреча демобилизованных воинов&nbsp;&mdash; ярославцев на&nbsp;станции Всполье.&nbsp;1945&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2904(2), Н0-2906.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/162.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/162.jpg"><img alt="" src="img/docs/thumbs/162.jpg"></a>
    <a data-title="<a href='img/docs/163.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/163.jpg"><img alt="" src="img/docs/thumbs/163.jpg"></a>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/165.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/165.jpg"><img alt="" src="img/docs/thumbs/165.jpg"></a>
    </div>
    <div class="desc">
      <p>Докучалов Павел Семенович, Герой Советского Союза. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1818.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/166.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/166.jpg"><img alt="" src="img/docs/thumbs/166.jpg"></a>
    </div>
    <div class="desc">
      <p>Жуков Михаил Петрович, летчик. Герой Советского Союза. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2868.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/167.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/167.jpg"><img alt="" src="img/docs/thumbs/167.jpg"></a>
    </div>
    <div class="desc">
      <p>Карабулин Николай Михайлович, летчик. Герой Советского Союза. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2816.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/168.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="17" href="img/docs/168.jpg"><img alt="" src="img/docs/thumbs/168.jpg"></a>
    </div>
    <div class="desc">
      <p>Кривов Николай Александрович, Герой Советского Союза. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1837.</p>
    </div>
  </div>
</div>