<h3>Промышленность</h3>
<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/169.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/169.jpg"><img alt="" src="img/docs/thumbs/169.jpg"></a>
    <a data-title="<a href='img/docs/170.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/170.jpg"><img alt="" src="img/docs/thumbs/170.jpg"></a>
    <a data-title="<a href='img/docs/171.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/171.jpg"><img alt="" src="img/docs/thumbs/171.jpg"></a>
    <a data-title="<a href='img/docs/172.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/172.jpg"><img alt="" src="img/docs/thumbs/172.jpg"></a>
  </div>
  <div class="desc">
    <p>Артиллерийский гусеничный тягач, выпущенный на&nbsp;Ярославском автозаводе.&nbsp;1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3406; Ф. Р-923. Оп.&nbsp;1. Д. 34; ЦДНИ ГАЯО.&nbsp;Ф.7302. Оп.&nbsp;2. Д. 73. Л. 4, 9, 13.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/173.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/173.jpg"><img alt="" src="img/docs/thumbs/173.jpg"></a>
    <a data-title="<a href='img/docs/174.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/174.jpg"><img alt="" src="img/docs/thumbs/174.jpg"></a>
    <a data-title="<a href='img/docs/175.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/175.jpg"><img alt="" src="img/docs/thumbs/175.jpg"></a>
  </div>
  <div class="desc">
    <p>Докладные записки отдела местной промышленности Ярославского облисполкома о&nbsp;перестройке местной промышленности на&nbsp;выпуск военной продукции и&nbsp;о&nbsp;выполнении предприятиями спецзаданий по&nbsp;выпуску продукции для фронта.&nbsp;1941&nbsp;г. &mdash;&nbsp;нач.&nbsp;1942&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2260. Оп.&nbsp;3. Д. 12. Л.13; Там&nbsp;же. Д. 21. Л. 1, 29.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/176.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/176.jpg"><img alt="" src="img/docs/thumbs/176.jpg"></a>
    </div>
    <div class="desc">
      <p>Механический цех Ярославского автомобильного завода (впоследствии&nbsp;&mdash; Ярославского моторного завода). Обработка орудийных 75&nbsp;мм снарядов для фронта. 1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-923</span>.Оп.1. Д.31. Л.8 об.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/177.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/177.jpg"><img alt="" src="img/docs/thumbs/177.jpg"></a>
    </div>
    <div class="desc">
      <p>Механический цех Ярославского судостроительного завода. 1930-е гг. ЦДНИ ГАЯО. Ф. 7302. Оп. 2. Д. 70.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/178.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/178.jpg"><img style="max-width: 60%;" alt="" src="img/docs/thumbs/178.jpg"></a>
    </div>
    <div class="desc">
      <p>Бригадир фронтовой бригады Рыбинского завода полиграфических машин В.&nbsp;В.&nbsp;Финогенов.&nbsp;1943&nbsp;г. РбФ ГАЯО. Опись позитивов. П1-1303.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/179.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/179.jpg"><img alt="" src="img/docs/thumbs/179.jpg"></a>
    <a data-title="<a href='img/docs/180.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/180.jpg"><img alt="" src="img/docs/thumbs/180.jpg"></a>
  </div>
  <div class="desc">
    <p>Секретное распоряжение заместителя наркома резиновой промышленности СССР об&nbsp;изготовлении на&nbsp;ярославском заводе &#8470;&nbsp;151 комплектующих к&nbsp;аэростатам заграждения и&nbsp;график работы завода по&nbsp;выпуску продукции, 1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2480</span>. Оп. 1. Д. 81. Л. 37, 98.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/181.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/181.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/181.jpg"></a>
    </div>
    <div class="desc">
      <p>Старейший рабочий ярославского комбината &laquo;Красный Перекоп&raquo; И.&nbsp;Д.&nbsp;Пастухов обучает молодого рабочего Н.&nbsp;Молодцова.&nbsp;1945&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2259.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/182.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/182.jpg"><img alt="" src="img/docs/thumbs/182.jpg"></a>
    </div>
    <div class="desc">
      <p>Молодой рабочий-стахановец С. Прохоров.&nbsp;1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;5999.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/183.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/183.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/183.jpg"></a>
    </div>
    <div class="desc">
      <p>Техник-инструктор Ярославского шинного завода Бобашева проверяет качество выпускаемой продукции.&nbsp;1945&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2028.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/184.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/184.jpg"><img alt="" src="img/docs/thumbs/184.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;новом цехе детской обуви Ярославской фабрики &laquo;Североход&raquo;. 1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2271.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/185.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/185.jpg"><img alt="" src="img/docs/thumbs/185.jpg"></a>
    </div>
    <div class="desc">
      <p>Работники Ярославского автомобильного завода и&nbsp;группа военных на&nbsp;испытаниях гусеничного автотягача с&nbsp;двумя спаренными бензиновыми моторами, выпущенного заводом в&nbsp;1943&nbsp;г. Апрель 1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-923. Оп.&nbsp;1. Д. 34.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/186.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/186.jpg"><img alt="" src="img/docs/thumbs/186.jpg"></a>
    </div>
    <div class="desc">
      <p>Гудовский&nbsp;С.&nbsp;А., стахановец Рыбинского судостроительного завода.&nbsp;1943&nbsp;г. РбФ ГАЯО. Опись позитивов. П1-1304.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/187.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/187.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/187.jpg"></a>
    </div>
    <div class="desc">
      <p>Образцы осколочных снарядов, выпускавшихся на&nbsp;Ярославском автомобильном заводе.&nbsp;1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-450. Оп.&nbsp;3. Д. 31. Л. 75.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/188.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/188.jpg"><img alt="" src="img/docs/thumbs/188.jpg"></a>
    </div>
    <div class="desc">
      <p>Токарь Н-ского завода Т.&nbsp;Я.&nbsp;Шелестова и&nbsp;шлифовщица Г.&nbsp;В.&nbsp;Морскова.&nbsp;1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6001.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/189.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/189.jpg"><img alt="" src="img/docs/thumbs/189.jpg"></a>
    <a data-title="<a href='img/docs/190.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/190.jpg"><img alt="" src="img/docs/thumbs/190.jpg"></a>
    <a data-title="<a href='img/docs/191.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/191.jpg"><img alt="" src="img/docs/thumbs/191.jpg"></a>
  </div>
  <div class="desc">
    <p>Катера, выпускавшиеся в&nbsp;годы Великой Отечественной войны Ярославским судостроительным заводом.&nbsp;1943&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 70.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/192.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/192.jpg"><img alt="" src="img/docs/thumbs/192.jpg"></a>
    </div>
    <div class="desc">
      <p>Центральная военная артиллерийская база, Фронтовая бригада А.&nbsp;В.&nbsp;Курочкиной за&nbsp;сборкой зарядов. Б/д. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 89.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/193.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/193.jpg"><img alt="" src="img/docs/thumbs/193.jpg"></a>
      <a data-title="<a href='img/docs/194.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="18" href="img/docs/194.jpg"><img alt="" src="img/docs/thumbs/194.jpg"></a>
    </div>
    <div class="desc">
      <p>Шины к&nbsp;военным вездеходам и&nbsp;самолетам, производство которых было освоено на&nbsp;Ярославском шинном заводе.&nbsp;1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2301. Оп.&nbsp;7. Д. 15. Л. 6об., 21об.</p>
    </div>
  </div>
</div>