<h3>Сельское хозяйство</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/195.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/195.jpg"><img alt="" src="img/docs/thumbs/195.jpg"></a>
    </div>
    <div class="desc">
      <p>Секретарь комсомольской организации колхоза &laquo;Красная звезда&raquo; Бурмакинского района В.&nbsp;Е.&nbsp;Ельцова читает колхозникам сообщения с&nbsp;фронта.&nbsp;1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1882.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/196.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/196.jpg"><img alt="" src="img/docs/thumbs/196.jpg"></a>
    </div>
    <div class="desc">
      <p>Абросимов&nbsp;И.&nbsp;И., председатель колхоза &laquo;Горшиха&raquo; Ярославского района (1937&nbsp;&mdash; 1954), Герой Социалистического Труда. Награжден орденом Ленина и&nbsp;золотой медалью &laquo;Серп и&nbsp;Молот&raquo;. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;9269.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/197.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/197.jpg"><img alt="" src="img/docs/thumbs/197.jpg"></a>
    </div>
    <div class="desc">
      <p>Актив колхоза имени Ворошилова Рыбинского района.&nbsp;1943&nbsp;г. РбФ ГАЯО. Опись позитивов. П1-1567.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/198.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/198.jpg"><img alt="" src="img/docs/thumbs/198.jpg"></a>
    </div>
    <div class="desc">
      <p>Группа деревенских детей Рыбинского района после сбора колосков в&nbsp;годы войны. РбФ ГАЯО. Опись позитивов. П1-514.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/199.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/199.jpg"><img alt="" src="img/docs/thumbs/199.jpg"></a>
    </div>
    <div class="desc">
      <p>Колхозники колхоза &laquo;Новая жизнь&raquo; С.&nbsp;Г.&nbsp;Карулин, Ф.&nbsp;К. Родонов, В.&nbsp;Н.&nbsp;Дубов, награжденные медалями &laquo;За&nbsp;доблестный труд в&nbsp;Великой Отечественной войне 1941&ndash;1945&nbsp;гг.&raquo;. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1924.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/200.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/200.jpg"><img alt="" src="img/docs/thumbs/200.jpg"></a>
    <a data-title="<a href='img/docs/201.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/201.jpg"><img alt="" src="img/docs/thumbs/201.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановление Ярославского обкома ВКП(б) и&nbsp;Ярославского облисполкома о&nbsp;плане развития сельского хозяйства на&nbsp;1943&nbsp;г. 25&nbsp;марта 1943&nbsp;г.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.22. Д.469. Л.38 и&nbsp;об.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/202.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/202.jpg"><img alt="" src="img/docs/thumbs/202.jpg"></a>
    </div>
    <div class="desc">
      <p>Трактористка Борисоглебской МТС А.&nbsp;А. Ложкина на&nbsp;весеннем севе.&nbsp;1945. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1867.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/203.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/203.jpg"><img alt="" src="img/docs/thumbs/203.jpg"></a>
    </div>
    <div class="desc">
      <p>Трактористки М. Мягкова и&nbsp;З.&nbsp;Журавлева заменили трактористов мужчин, ушедших на&nbsp;фронт в&nbsp;годы войны. Б/д. РбФ ГАЯО. Опись позитивов. П1-496.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/204.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/204.jpg"><img alt="" src="img/docs/thumbs/204.jpg"></a>
    <a data-title="<a href='img/docs/205.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/205.jpg"><img alt="" src="img/docs/thumbs/205.jpg"></a>
    <a data-title="<a href='img/docs/206.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/206.jpg"><img alt="" src="img/docs/thumbs/206.jpg"></a>
    <a data-title="<a href='img/docs/207.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/207.jpg"><img alt="" src="img/docs/thumbs/207.jpg"></a>
    <a data-title="<a href='img/docs/208.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="19" href="img/docs/208.jpg"><img alt="" src="img/docs/thumbs/208.jpg"></a>
  </div>
  <div class="desc">
    <p>Хлеб в&nbsp;Фонд Победы колхозов Ярославской области: &laquo;Реконструкция&raquo;, &laquo;Путь Ленина&raquo;, &laquo;8&nbsp;Марта&raquo;. 1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1883, П1-1971, П1-1973, П1-2601, П1-2606.</p>
  </div>
</div>