<h3>Помощь фронту</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/209.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/209.jpg"><img alt="" src="img/docs/thumbs/209.jpg"></a>
    </div>
    <div class="desc">
      <p>Справка Ярославской областной конторы Госбанка о&nbsp;поступлении в&nbsp;Фонд Обороны СССР и&nbsp;в&nbsp;Фонд Красной Армии на&nbsp;строительство танковых колонн и&nbsp;эскадрилий самолетов.&nbsp;1947&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 272. Оп.&nbsp;23. Д. 45. Л. 13.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/210.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/210.jpg"><img alt="" src="img/docs/thumbs/210.jpg"></a>
      <a data-title="<a href='img/docs/211.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/211.jpg"><img alt="" src="img/docs/thumbs/211.jpg"></a>
    </div>
    <div class="desc">
      <p>Сбор теплых вещей для Красной Армии в&nbsp;годы Великой Отечественной войны. РбФ ГАЯО. Опись позитивов. П1-1305, 1306.</p>
    </div>
  </div>
</div>

<h3>Помощь освобожденным районам</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/212.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/212.jpg"><img alt="" src="img/docs/thumbs/212.jpg"></a>
    <a data-title="<a href='img/docs/213.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/213.jpg"><img alt="" src="img/docs/thumbs/213.jpg"></a>
    <a data-title="<a href='img/docs/214.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/214.jpg"><img alt="" src="img/docs/thumbs/214.jpg"></a>
    <a data-title="<a href='img/docs/215.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="20" href="img/docs/215.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/215.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы о&nbsp;количестве сельскохозяйственных машин и&nbsp;скота, эвакуированных в&nbsp;Ярославскую область и&nbsp;возвращенных в&nbsp;районы, освобожденные от&nbsp;немецко-фашистских захватчиков.&nbsp;1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2283. Оп.&nbsp;1. Д. 67. Л. 17, Д. 75. Л. 4, 4об., 12.</p>
  </div>
</div>