<h3>Эвакогоспитали</h3>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/216.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/216.jpg"><img alt="" src="img/docs/thumbs/216.jpg"></a>
    <a data-title="<a href='img/docs/217.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/217.jpg"><img alt="" src="img/docs/thumbs/217.jpg"></a>
    <a data-title="<a href='img/docs/218.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/218.jpg"><img alt="" src="img/docs/thumbs/218.jpg"></a>
    <a data-title="<a href='img/docs/219.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/219.jpg"><img alt="" src="img/docs/thumbs/219.jpg"></a>
    <a data-title="<a href='img/docs/220.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/220.jpg"><img alt="" src="img/docs/thumbs/220.jpg"></a>
    <a data-title="<a href='img/docs/221.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/221.jpg"><img alt="" src="img/docs/thumbs/221.jpg"></a>
    <a data-title="<a href='img/docs/222.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/222.jpg"><img alt="" src="img/docs/thumbs/222.jpg"></a>
    <a data-title="<a href='img/docs/223.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/223.jpg"><img style="max-width: 15%;" alt="" src="img/docs/thumbs/223.jpg"></a>
    <a data-title="<a href='img/docs/224.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/224.jpg"><img style="max-width: 15%;" alt="" src="img/docs/thumbs/224.jpg"></a>
  </div>
  <div class="desc">
    <p>Госпиталь &#8470;&nbsp;2018, размещавшийся в&nbsp;г. Рыбинске в&nbsp;годы войны. 1942&ndash;1944&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2228. Оп.&nbsp;3. Д. 417-а. Л. 11, 25, 46, 70, 5, 1.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/225.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/225.jpg"><img alt="" src="img/docs/thumbs/225.jpg"></a>
  </div>
  <div class="desc">
    <p>Здание Ярославской государственной медицинской академии, где в&nbsp;годы Великой Отечественной войны размещался эвакогоспиталь &#8470;&nbsp;1086 (г. Ярославль, улица Революционная, дом &#8470;&nbsp;5). Современный вид.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/226.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/226.jpg"><img alt="" src="img/docs/thumbs/226.jpg"></a>
    <a data-title="<a href='img/docs/227.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/227.jpg"><img alt="" src="img/docs/thumbs/227.jpg"></a>
    <a data-title="<a href='img/docs/228.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="21" href="img/docs/228.jpg"><img alt="" src="img/docs/thumbs/228.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы Ярославского облисполкома и&nbsp;Ярославского горисполкома о&nbsp;размещении госпиталей в&nbsp;г. Ярославле. 1941-1942&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-1269. Оп.&nbsp;3. Д. 44. Л. 45, 105; Ф. Р-2228. Оп.&nbsp;4. Д. 118. Л. 26.</p>
  </div>
</div>