<h3>Строительство набережной</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/229.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="22" href="img/docs/229.jpg"><img alt="" src="img/docs/thumbs/229.jpg"></a>
    </div>
    <div class="desc">
      <p>Которосльная набережная в&nbsp;г. Ярославле после завершения работ по&nbsp;благоустройству.&nbsp;1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-11191.</p>
    </div>
  </div>
  <div class="docs-container double">
    <div class="imgs">
      <a data-title="<a href='img/docs/230.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="22" href="img/docs/230.jpg"><img alt="" src="img/docs/thumbs/230.jpg"></a>
      <a data-title="<a href='img/docs/231.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="22" href="img/docs/231.jpg"><img alt="" src="img/docs/thumbs/231.jpg"></a>
    </div>
    <div class="desc">
      <p>Строительство новой набережной на&nbsp;р. Которосли в&nbsp;г. Ярославле.&nbsp;1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1586, П1&mdash;2535.</p>
    </div>
  </div>
</div>