<h3>Образование, культура</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/235.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="23" href="img/docs/235.jpg"><img alt="" src="img/docs/thumbs/235.jpg"></a>
    </div>
    <div class="desc">
      <p>Шаханин Николай Иванович (1890&ndash;1955), кандидат биологических наук, преподаватель Ярославского государственного университета (1921&ndash;1924) и&nbsp;Ярославского государственного педагогического института (1924&ndash;1955), 1943&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2564</span>. Оп. 1. Д. 226. Л. 8.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/232.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="23" href="img/docs/232.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/232.jpg"></a>
    </div>
    <div class="desc">
      <p>Диссертация доцента Ярославского государственного педагогического института <span class="nobr">Н. И. Шаханина</span> на&nbsp;соискание ученой степени кандидата наук &laquo;<span class="nobr">Ботанико-географическая</span> характеристика Ярославской области&raquo;, 1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. <span class="nobr">Р-2564</span>. Оп. 1. Д. 19. Л. 1&nbsp;Б. Титульный лист.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/234.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="23" href="img/docs/234.jpg"><img alt="" src="img/docs/thumbs/234.jpg"></a>
    </div>
    <div class="desc">
      <p>Фронтовая бригада Ярославского театра им.&nbsp;<span class="nobr">Ф. Г. Волкова</span>. 1942 год. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-97</span>. Оп. 1. Д. 53. Л. 92</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/233.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="23" href="img/docs/233.jpg"><img alt="" src="img/docs/thumbs/233.jpg"></a>
    </div>
    <div class="desc">
      <p>Заслуженный учитель РСФСР, преподаватель Чебаковской начальной школы Тутаевского района Ярославской области Н.&nbsp;М.&nbsp;Головин ведет урок, 1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2481.</p>
    </div>
  </div>
</div>