<h3>Промышленность</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/237.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/237.jpg"><img alt="" src="img/docs/thumbs/237.jpg"></a>
    <a data-title="<a href='img/docs/239.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/239.jpg"><img alt="" src="img/docs/thumbs/239.jpg"></a>
    <a data-title="<a href='img/docs/238.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/238.jpg"><img alt="" src="img/docs/thumbs/238.jpg"></a>
    <a data-title="<a href='img/docs/236.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/236.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/236.jpg"></a>
  </div>
  <div class="desc">
    <p>На&nbsp;строительстве Ярославского нефтеперерабатывающего завода. Конец 1950-начало 1960-х гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 114. Фото&nbsp;14, 16, 32; Д.60. Фото&nbsp;29. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6227.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/240.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/240.jpg"><img style="max-width: 55%;" alt="" src="img/docs/thumbs/240.jpg"></a>
    </div>
    <div class="desc">
      <p>Сборка судна по&nbsp;секциям на&nbsp;Рыбинской судоверфи&nbsp;им. Володарского.&nbsp;1953&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2119.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/241.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/241.jpg"><img alt="" src="img/docs/thumbs/241.jpg"></a>
    </div>
    <div class="desc">
      <p>Покрышки Ярославского шинного завода для автосамосвала МАЗ-525. 1953&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2013.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/242.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/242.jpg"><img alt="" src="img/docs/thumbs/242.jpg"></a>
    </div>
    <div class="desc">
      <p>Заметка из&nbsp;газеты о&nbsp;производстве на&nbsp;Ярославском шинном заводе стомиллионной шины. 1966&nbsp;г. Северный рабочий. 1966. 3 сентября.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/243.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/243.jpg"><img style="max-width: 40%;" alt="" src="img/docs/thumbs/243.jpg"></a>
    </div>
    <div class="desc">
      <p>Распоряжение Совета Министров СССР об&nbsp;утверждении проектного задания на&nbsp;строительство полиграфического комбината <span class="nobr">словарно-энциклопедических</span> изданий в&nbsp;г.&nbsp;Ярославле. 1951&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2380</span>. Оп. 1. Д. 298. Л. 38.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/244.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/244.jpg"><img alt="" src="img/docs/thumbs/244.jpg"></a>
    </div>
    <div class="desc">
      <p>Общий вид фасада малого и&nbsp;большого корпусов строящегося Ярославского полиграфкомбината с&nbsp;улицы Свободы.&nbsp;1953&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись фотоальбомов. Ед.&nbsp;хр.&nbsp;314. С. 31.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/245.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/245.jpg"><img alt="" src="img/docs/thumbs/245.jpg"></a>
    </div>
    <div class="desc">
      <p>Участок линотипного набора Ярославского полиграфкомбината.&nbsp;1960&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6120.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/246.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/246.jpg"><img alt="" src="img/docs/thumbs/246.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;ткацком цехе ярославской кордной фабрики.&nbsp;1953&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2223.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/247.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/247.jpg"><img style="max-width: 60%;" alt="" src="img/docs/thumbs/247.jpg"></a>
    </div>
    <div class="desc">
      <p>Сборка двухкрасочной офсетной листовой машины &laquo;Пол&raquo; на&nbsp;Рыбинском заводе полиграфических машин.&nbsp;1956&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2051.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/248.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/248.jpg"><img alt="" src="img/docs/thumbs/248.jpg"></a>
    </div>
    <div class="desc">
      <p>Линия по&nbsp;изготовлению книг и&nbsp;агрегат БТГ в&nbsp;переплетном цехе Ярославского полиграфкомбината.&nbsp;1970&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6102.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/249.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/249.jpg"><img alt="" src="img/docs/thumbs/249.jpg"></a>
    </div>
    <div class="desc">
      <p>Территория Угличского часового завода. Смена идёт... Главный корпус завода заложен в&nbsp;1939&nbsp;г. УгФ ГАЯО. Нефондовое хранение. Д. б/н. Фотоальбом к&nbsp;25-летию Угличского часового завода.&nbsp;1965&nbsp;г. Л. 2.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/250.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/250.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/250.jpg"></a>
    </div>
    <div class="desc">
      <p>Вид конвейера цеха сборки наручных часов &laquo;Звезда&raquo; на&nbsp;Угличском часовом заводе, 1951&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2082.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/251.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/251.jpg"><img alt="" src="img/docs/thumbs/251.jpg"></a>
    </div>
    <div class="desc">
      <p>Труженики цеха &#8470;&nbsp;6&nbsp;ярославской фабрики &laquo;Североход&raquo;. 1969&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3&mdash;1969(8).</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/252.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/252.jpg"><img alt="" src="img/docs/thumbs/252.jpg"></a>
    </div>
    <div class="desc">
      <p>Работницы Угличского сыродельного завода за&nbsp;сортировкой пастеризованных сыров.&nbsp;1951&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2286.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/253.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/253.jpg"><img alt="" src="img/docs/thumbs/253.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;цехе готовой продукции ростовской кофе-цикорной фабрики. 1947&ndash;1949&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1327.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/254.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/254.jpg"><img alt="" src="img/docs/thumbs/254.jpg"></a>
    </div>
    <div class="desc">
      <p>Продукция ярославского молочного комбината.&nbsp;1965&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3173.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/255.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/255.jpg"><img alt="" src="img/docs/thumbs/255.jpg"></a>
    </div>
    <div class="desc">
      <p>Разгрузка зерна с&nbsp;судов на&nbsp;Рыбинском элеваторе.&nbsp;1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2768.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/256.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/256.jpg"><img alt="" src="img/docs/thumbs/256.jpg"></a>
    </div>
    <div class="desc">
      <p>Работники паровозной службы Вспольинского отделения депо Ярославль знакомятся с&nbsp;материалами окружной технической конференции.&nbsp;1951&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2338.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/262.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/262.jpg"><img alt="" src="img/docs/thumbs/262.jpg"></a>
    </div>
    <div class="desc">
      <p>Строительство автотрассы Ярославль-Некоуз в&nbsp;Ярославской области.&nbsp;1970&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;5448.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/257.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/257.jpg"><img alt="" src="img/docs/thumbs/257.jpg"></a>
    <a data-title="<a href='img/docs/258.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/258.jpg"><img alt="" src="img/docs/thumbs/258.jpg"></a>
    <a data-title="<a href='img/docs/259.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/259.jpg"><img alt="" src="img/docs/thumbs/259.jpg"></a>
  </div>
  <div class="desc">
    <p>Строительство автомобильного Октябрьского моста через&nbsp;р. Волгу в&nbsp;г. Ярославле. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н1-823, Н1-843; Опись позитивов. П1&mdash;3207.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/260.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/260.jpg"><img alt="" src="img/docs/thumbs/260.jpg"></a>
    <a data-title="<a href='img/docs/261.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="26" href="img/docs/261.jpg"><img alt="" src="img/docs/thumbs/261.jpg"></a>
  </div>
  <div class="desc">
    <p>Строительство моста через Волгу в&nbsp;г. Рыбинске. 1960-е гг. РбФ ГАЯО. Опись позитивов. П1-986, П1-989.</p>
  </div>
</div>