<h3>Сельское хозяйство</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/263.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/263.jpg"><img alt="" src="img/docs/thumbs/263.jpg"></a>
    <a data-title="<a href='img/docs/264.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/264.jpg"><img alt="" src="img/docs/thumbs/264.jpg"></a>
    <a data-title="<a href='img/docs/265.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/265.jpg"><img alt="" src="img/docs/thumbs/265.jpg"></a>
    <a data-title="<a href='img/docs/266.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/266.jpg"><img alt="" src="img/docs/thumbs/266.jpg"></a>
  </div>
  <div class="desc">
    <p>ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.22. Д.1. Л.10, 11, 12, 15.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/267.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/267.jpg"><img alt="" src="img/docs/thumbs/267.jpg"></a>
    </div>
    <div class="desc">
      <p>Доярка колхоза &laquo;Горшиха&raquo; Герой Социалистического Труда О.&nbsp;И. Абросимова.&nbsp;1961&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2848.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/268.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/268.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/268.jpg"></a>
    </div>
    <div class="desc">
      <p>Колхоз &laquo;Новая Кештома&raquo; Пошехонского района. Уборка льна-долгунца.&nbsp;1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1268.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/269.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/269.jpg"><img alt="" src="img/docs/thumbs/269.jpg"></a>
    <a data-title="<a href='img/docs/270.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/270.jpg"><img alt="" src="img/docs/thumbs/270.jpg"></a>
    <a data-title="<a href='img/docs/271.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/271.jpg"><img alt="" src="img/docs/thumbs/271.jpg"></a>
  </div>
  <div class="desc">
    <p>Сельскохозяйственные работы в&nbsp;колхозах и&nbsp;совхозах Ярославской области.&nbsp;1946&nbsp;&mdash; 1950&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1896; Опись позитивов. П1&mdash;1877, П1-1964.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/272.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/272.jpg"><img alt="" src="img/docs/thumbs/272.jpg"></a>
    </div>
    <div class="desc">
      <p>Снегозадержание на&nbsp;полях колхоза &laquo;Победа&raquo; Ярославского района.&nbsp;1946&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1879.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/273.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/273.jpg"><img alt="" src="img/docs/thumbs/273.jpg"></a>
    </div>
    <div class="desc">
      <p>Строительство птицефабрики в&nbsp;г. Тутаеве.&nbsp;1966&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н1&mdash;900(2).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/274.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/274.jpg"><img alt="" src="img/docs/thumbs/274.jpg"></a>
    </div>
    <div class="desc">
      <p>Уборка льна вручную в&nbsp;колхозе Даниловского района.&nbsp;1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1270.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/277.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/277.jpg"><img alt="" src="img/docs/thumbs/277.jpg"></a>
    <a data-title="<a href='img/docs/278.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/278.jpg"><img alt="" src="img/docs/thumbs/278.jpg"></a>
  </div>
  <div class="desc">
    <p>Колхозники колхоза &laquo;Луч коммунизма&raquo; Петровского района за&nbsp;посадкой кукурузы квадратно-гнездовым способом и&nbsp;за&nbsp;окучиванием посаженной кукурузы.&nbsp;1957&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;2199, Н0-2180.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/275.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/275.jpg"><img style="max-width: 20%;" alt="" src="img/docs/thumbs/275.jpg"></a>
    <a data-title="<a href='img/docs/276.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/276.jpg"><img alt="" src="img/docs/thumbs/276.jpg"></a>
  </div>
  <div class="desc">
    <p>Кукуруза, выращенная в&nbsp;колхозе &laquo;Красный Октябрь&raquo; Ярославского района.&nbsp;1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;1898.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/279.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/279.jpg"><img alt="" src="img/docs/thumbs/279.jpg"></a>
    <a data-title="<a href='img/docs/280.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/280.jpg"><img alt="" src="img/docs/thumbs/280.jpg"></a>
    <a data-title="<a href='img/docs/281.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/281.jpg"><img alt="" src="img/docs/thumbs/281.jpg"></a>
    <a data-title="<a href='img/docs/282.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/282.jpg"><img alt="" src="img/docs/thumbs/282.jpg"></a>
    <a data-title="<a href='img/docs/283.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/283.jpg"><img alt="" src="img/docs/thumbs/283.jpg"></a>
    <a data-title="<a href='img/docs/284.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/284.jpg"><img alt="" src="img/docs/thumbs/284.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы об&nbsp;отправке ярославской молодежи на&nbsp;освоение целинных земель. <span class="nobr">1955&mdash;1960 гг.</span>&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.22. Д.303. Л.34,35,38,43. Там&nbsp;же. Оп.24. Д.20. Л.32,59.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/285.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/285.jpg"><img alt="" src="img/docs/thumbs/285.jpg"></a>
    </div>
    <div class="desc">
      <p>Митинг, посвященный отправке на&nbsp;целину ярославской молодежи.&nbsp;1955&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6552.</p>
    </div>
  </div>
  <div class="docs-container double">
    <div class="imgs">
      <a data-title="<a href='img/docs/286.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/286.jpg"><img alt="" src="img/docs/thumbs/286.jpg"></a>
      <a data-title="<a href='img/docs/287.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/287.jpg"><img alt="" src="img/docs/thumbs/287.jpg"></a>
    </div>
    <div class="desc">
      <p>Решение Ярославского облисполкома от&nbsp;19 июля 1960&nbsp;г. о&nbsp;направлении механизаторов сельского хозяйства в&nbsp;районы целинных и&nbsp;залежных земель для оказания помощи в&nbsp;уборке урожая. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.24. Д.20 Л.67&ndash;68.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/288.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/288.jpg"><img alt="" src="img/docs/thumbs/288.jpg"></a>
    <a data-title="<a href='img/docs/289.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/289.jpg"><img alt="" src="img/docs/thumbs/289.jpg"></a>
    <a data-title="<a href='img/docs/290.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="27" href="img/docs/290.jpg"><img alt="" src="img/docs/thumbs/290.jpg"></a>
  </div>
  <div class="desc">
    <p>ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.22. Д.1432. Л.31, 32, 33.</p>
  </div>
</div>