<h3>Образование</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/291.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/291.jpg"><img alt="" src="img/docs/thumbs/291.jpg"></a>
    </div>
    <div class="desc">
      <p>Первый выпуск молодых специалистов Ярославского строительного техникума.&nbsp;1948&nbsp;&mdash; 1951&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;11185.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/292.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/292.jpg"><img alt="" src="img/docs/thumbs/292.jpg"></a>
    </div>
    <div class="desc">
      <p>Учащиеся железнодорожного училища &#8470;&nbsp;1&nbsp;на практических занятиях. Г.&nbsp;Ярославль. Конец 1940-х гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2375.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/293.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/293.jpg"><img alt="" src="img/docs/thumbs/293.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Ростов Ярославской области. Педагогическое училище. 1951/1952 учебный год. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1265.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/294.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/294.jpg"><img alt="" src="img/docs/thumbs/294.jpg"></a>
    </div>
    <div class="desc">
      <p>Преподаватель Ростовского сельскохозяйственного техникума М.&nbsp;М.&nbsp;Галактионов знакомит учащихся с&nbsp;инвентарем пчеловода.&nbsp;1950&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2509.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/295.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/295.jpg"><img alt="" src="img/docs/thumbs/295.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание Ярославского медицинского института на&nbsp;ул. Революционной. 1940-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 143. Фото&nbsp;1.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/296.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/296.jpg"><img alt="" src="img/docs/thumbs/296.jpg"></a>
    </div>
    <div class="desc">
      <p>Преподаватель А.&nbsp;Б. Дитмар читает лекцию по&nbsp;физической географии студентам педагогического института.&nbsp;1950&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;6104.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/297.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/297.jpg"><img alt="" src="img/docs/thumbs/297.jpg"></a>
    </div>
    <div class="desc">
      <p>Занятия в&nbsp;Ростовской детской музыкальной школе. На&nbsp;скрипке играет Тяпкина М. 1957&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2194.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/298.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/298.jpg"><img alt="" src="img/docs/thumbs/298.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославский планетарий. 1950-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-5933.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/299.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/299.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/299.jpg"></a>
    </div>
    <div class="desc">
      <p>Урок геометрии в&nbsp;школе &#8470;&nbsp;2&nbsp;г. Рыбинска.&nbsp;1965&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;5819.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/300.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="28" href="img/docs/300.jpg"><img alt="" src="img/docs/thumbs/300.jpg"></a>
    </div>
    <div class="desc">
      <p>Группа студентов 4&nbsp;курса Ярославского текстильного техникума на&nbsp;практических занятиях в&nbsp;лаборатории.&nbsp;1948&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2384.</p>
    </div>
  </div>
</div>

