<h3>Здравоохранение</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/301.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="29" href="img/docs/301.jpg"><img alt="" src="img/docs/thumbs/301.jpg"></a>
    </div>
    <div class="desc">
      <p>Врачебный персонал Борисоглебской сельской больницы.&nbsp;1949&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2504.</p>
    </div>
  </div>
  <div class="docs-container double">
    <div class="imgs">
      <a data-title="<a href='img/docs/302.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="29" href="img/docs/302.jpg"><img alt="" src="img/docs/thumbs/302.jpg"></a>
      <a data-title="<a href='img/docs/303.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="29" href="img/docs/303.jpg"><img alt="" src="img/docs/thumbs/303.jpg"></a>
    </div>
    <div class="desc">
      <p>Группа работников здравоохранения Ярославской области, награжденная орденами и&nbsp;медалями СССР. 1966. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3453, П1-3453г.</p>
    </div>
  </div>
</div>