<h3>Культура</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/304.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/304.jpg"><img style="max-width: 40%;" alt="" src="img/docs/thumbs/304.jpg"></a>
    </div>
    <div class="desc">
      <p>Кинотеатр &laquo;Родина&raquo; в&nbsp;г. Ярославле.&nbsp;1960&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6290.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/305.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/305.jpg"><img alt="" src="img/docs/thumbs/305.jpg"></a>
    </div>
    <div class="desc">
      <p>Приглашение в&nbsp;театр им.&nbsp;<span class="nobr">Ф. Г. Волкова</span> на&nbsp;юбилейный вечер, посвященный <span class="nobr">75-летию</span> со&nbsp;дня рождения и&nbsp;<span class="nobr">55-летию</span> сценической деятельности <span class="nobr">Г. С. Свободина</span>. Программа вечера. 1958&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-907</span>. Оп. 1. Д. 58. Л. 7&ndash;8.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/306.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/306.jpg"><img alt="" src="img/docs/thumbs/306.jpg"></a>
    </div>
    <div class="desc">
      <p>Программа Ярославского цирка с&nbsp;рекламой гастролей мастеров советского цирка. <span class="nobr">1968&mdash;1969 гг.</span>&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-870</span>. Оп. 1. Д. 20. Л. 3.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/307.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/307.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/307.jpg"></a>
    </div>
    <div class="desc">
      <p>Свободин Григорий Семенович (1882&ndash;1971), актер (1935&ndash;1971) и&nbsp;режиссер Ярославского театра драмы им.&nbsp;<span class="nobr">Ф. Г. Волкова</span>. 1960&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-907</span>. Оп. 1. Д. 64. Л. 11.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/337.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/337.jpg"><img alt="" src="img/docs/thumbs/337.jpg"></a>
    </div>
    <div class="desc">
      <p>Площадь Труда г. Ярославля. Здание цирка. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8845.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/308.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/308.jpg"><img alt="" src="img/docs/thumbs/308.jpg"></a>
    </div>
    <div class="desc">
      <p>Программы Ярославского цирка. <span class="nobr">1960-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-870</span>. Оп. 1. Д. 20.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/309.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/309.jpg"><img alt="" src="img/docs/thumbs/309.jpg"></a>
    </div>
    <div class="desc">
      <p>Команда &laquo;Шинник&raquo; играет на&nbsp;своем стадионе на&nbsp;площади Труда г. Ярославля. 1950-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 119. Л. 21.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/310.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/310.jpg"><img alt="" src="img/docs/thumbs/310.jpg"></a>
    </div>
    <div class="desc">
      <p>Артисты театра&nbsp;им. Ф.&nbsp;Г.&nbsp;Волкова.&nbsp;1950&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2415.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/311.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/311.jpg"><img alt="" src="img/docs/thumbs/311.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославский государственный драматический театр&nbsp;им. Ф.&nbsp;Г.&nbsp;Волкова.&nbsp;1951&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н2&mdash;1055.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/312.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/312.jpg"><img alt="" src="img/docs/thumbs/312.jpg"></a>
    </div>
    <div class="desc">
      <p>Труппа Ярославского академического драматического театра имени Ф.&nbsp;Г.&nbsp;Волкова на&nbsp;торжественном заседании в&nbsp;честь 200-летнего юбилея театра.&nbsp;1950&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-261.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/313.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/313.jpg"><img alt="" src="img/docs/thumbs/313.jpg"></a>
    </div>
    <div class="desc">
      <p>Проспект Ленина в&nbsp;Ярославле. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6330.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/314.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/314.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/314.jpg"></a>
    </div>
    <div class="desc">
      <p>г.&nbsp;Ярославль. Демидовский сквер и&nbsp;фонтан. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6331.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/315.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/315.jpg"><img alt="" src="img/docs/thumbs/315.jpg"></a>
    </div>
    <div class="desc">
      <p>Кинотеатр &laquo;Летний&raquo; на&nbsp;Первомайском бульваре в&nbsp;г. Ярославле. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6337.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/316.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/316.jpg"><img alt="" src="img/docs/thumbs/316.jpg"></a>
    </div>
    <div class="desc">
      <p>Трамвайные пути на&nbsp;Комсомольской улице. Г.&nbsp;Ярославль.&nbsp;1960&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1699.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/317.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/317.jpg"><img style="max-width: 70%;" alt="" src="img/docs/thumbs/317.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание железнодорожного вокзала в&nbsp;Ярославле, построенного в&nbsp;1950-х гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 6. Фото&nbsp;37.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/318.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/318.jpg"><img alt="" src="img/docs/thumbs/318.jpg"></a>
    </div>
    <div class="desc">
      <p>Дворец культуры моторостроителей в&nbsp;г. Ярославле. 1960-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 119. Л. 22.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/319.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/319.jpg"><img alt="" src="img/docs/thumbs/319.jpg"></a>
    </div>
    <div class="desc">
      <p>Дворец культуры нефтяников в&nbsp;г. Ярославле. 1960-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 139. Фото&nbsp;19.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/320.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/320.jpg"><img alt="" src="img/docs/thumbs/320.jpg"></a>
    </div>
    <div class="desc">
      <p>Дом на&nbsp;Советской улице&nbsp;г. Ярославля. 1950-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6642.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/322.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/322.jpg"><img alt="" src="img/docs/thumbs/322.jpg"></a>
    </div>
    <div class="desc">
      <p>Красная площадь в&nbsp;г. Ярославле. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1715.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/323.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/323.jpg"><img alt="" src="img/docs/thumbs/323.jpg"></a>
    <a data-title="<a href='img/docs/324.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/324.jpg"><img alt="" src="img/docs/thumbs/324.jpg"></a>
    <a data-title="<a href='img/docs/325.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/325.jpg"><img alt="" src="img/docs/thumbs/325.jpg"></a>
  </div>
  <div class="desc">
    <p>Волжская набережная в&nbsp;г. Ярославле. 1950&ndash;1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;17891, П1-6295, П1-6296.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/326.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/326.jpg"><img alt="" src="img/docs/thumbs/326.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание Ярославской областной научной библиотеки&nbsp;им. Н.&nbsp;А.&nbsp;Некрасова. 1960-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 139. Фото&nbsp;26.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/327.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/327.jpg"><img alt="" src="img/docs/thumbs/327.jpg"></a>
    </div>
    <div class="desc">
      <p>Советская площадь г.&nbsp;Ярославля. Сквер и&nbsp;здание облисполкома. <span class="nobr">1950-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО.Ф. <span class="nobr">Р-113</span>. Оп.1. Д.125. Л.10.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/328.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/328.jpg"><img alt="" src="img/docs/thumbs/328.jpg"></a>
    </div>
    <div class="desc">
      <p>Улица Свободы в&nbsp;г. Ярославле. 1960-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 1615. Оп.&nbsp;3. Д. 12. Фото&nbsp;22.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/329.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/329.jpg"><img alt="" src="img/docs/thumbs/329.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание цирка на&nbsp;площади Труда г. Ярославля. 1960-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 119. Л. 16.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/330.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/330.jpg"><img alt="" src="img/docs/thumbs/330.jpg"></a>
    <a data-title="<a href='img/docs/331.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/331.jpg"><img alt="" src="img/docs/thumbs/331.jpg"></a>
    <a data-title="<a href='img/docs/332.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/332.jpg"><img alt="" src="img/docs/thumbs/332.jpg"></a>
    <a data-title="<a href='img/docs/333.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/333.jpg"><img alt="" src="img/docs/thumbs/333.jpg"></a>
  </div>
  <div class="desc">
    <p>Обращение жителей города Ярославля к&nbsp;потомкам-гражданам XXI&nbsp;века, принятое в&nbsp;день празднования 950-летия города 21&nbsp;августа 1960&nbsp;года. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-3484. Оп.&nbsp;2. Д. 36. Л. 1-4.</p>
  </div>
</div>
<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/334.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/334.jpg"><img alt="" src="img/docs/thumbs/334.jpg"></a>
    <a data-title="<a href='img/docs/335.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/335.jpg"><img alt="" src="img/docs/thumbs/335.jpg"></a>
    <a data-title="<a href='img/docs/336.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="30" href="img/docs/336.jpg"><img alt="" src="img/docs/thumbs/336.jpg"></a>
  </div>
  <div class="desc">
    <p>Ответное слово пионеров, принявших обращение жителей города Ярославля для передачи его гражданам XXI&nbsp;века. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-3484. Оп.&nbsp;2. Д. 36. Л. 5-7.</p>
  </div>
</div>

