<h3>Общественно-политическая жизнь</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/338.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/338.jpg"><img alt="" src="img/docs/thumbs/338.jpg"></a>
    </div>
    <div class="desc">
      <p>Встреча работников совхоза &laquo;Новый Север&raquo; Ярославского района с&nbsp;Ю.&nbsp;А.&nbsp;Гагариным в&nbsp;музее &laquo;Карабиха&raquo;. Апрель, 1964&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10805.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/339.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/339.jpg"><img alt="" src="img/docs/thumbs/339.jpg"></a>
    </div>
    <div class="desc">
      <p>Мемориальная доска в&nbsp;честь пребывания в&nbsp;Ярославле летчика-космонавта Ю.&nbsp;А. Гагарина на&nbsp;здании театра&nbsp;им. Ф.&nbsp;Г.&nbsp;Волкова.&nbsp;1967&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 1837.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/340.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/340.jpg"><img alt="" src="img/docs/thumbs/340.jpg"></a>
    <a data-title="<a href='img/docs/341.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/341.jpg"><img alt="" src="img/docs/thumbs/341.jpg"></a>
    <a data-title="<a href='img/docs/342.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/342.jpg"><img alt="" src="img/docs/thumbs/342.jpg"></a>
    <a data-title="<a href='img/docs/343.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/343.jpg"><img alt="" src="img/docs/thumbs/343.jpg"></a>
  </div>
  <div class="desc">
    <p>Выставка молодых рационализаторов и&nbsp;изобретателей Ленинского района&nbsp;г. Ярославля.&nbsp;1969&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3&mdash;2015, П3-2015(2), П3-2015(5), П3-2015(6).</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/344.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/344.jpg"><img alt="" src="img/docs/thumbs/344.jpg"></a>
    </div>
    <div class="desc">
      <p>Фрагмент застройки квартала по&nbsp;улице Чкалова в&nbsp;г.&nbsp;Ярославле. <span class="nobr">1960-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-113</span>. Оп. 1. Д. 124. Л. 53.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/349.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/349.jpg"><img alt="" src="img/docs/thumbs/349.jpg"></a>
    </div>
    <div class="desc">
      <p>Набережная р. Волги в&nbsp;Ярославле. <span class="nobr">1940-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-113</span>. Оп.1. Д.125. Л.5.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/345.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/345.jpg"><img alt="" src="img/docs/thumbs/345.jpg"></a>
    <a data-title="<a href='img/docs/346.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/346.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/346.jpg"></a>
    <a data-title="<a href='img/docs/347.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/347.jpg"><img alt="" src="img/docs/thumbs/347.jpg"></a>
    <a data-title="<a href='img/docs/348.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/348.jpg"><img alt="" src="img/docs/thumbs/348.jpg"></a>
  </div>
  <div class="desc">
    <p>Открытие монумента в&nbsp;честь боевых и&nbsp;трудовых подвигов ярославцев в&nbsp;годы Великой Отечественной войны 1941&ndash;1945&nbsp;гг. Авторы проекта: скульптор Л.&nbsp;Е.&nbsp;Кербель, архитектор Г.&nbsp;А.&nbsp;Захаров. Октябрь 1968&nbsp;г. Фото Вечного огня. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2749.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/350.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/350.jpg"><img alt="" src="img/docs/thumbs/350.jpg"></a>
    </div>
    <div class="desc">
      <p>Новые троллейбусные вагоны ЗИУ-5&nbsp;в Ярославле.&nbsp;1967&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. Н1&mdash;654.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/351.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/351.jpg"><img alt="" src="img/docs/thumbs/351.jpg"></a>
    </div>
    <div class="desc">
      <p>Новый сельский универмаг в&nbsp;совхозе Шопша Гаврилов-Ямского района Ярославской области.&nbsp;1968&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;5184.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/352.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/352.jpg"><img alt="" src="img/docs/thumbs/352.jpg"></a>
    </div>
    <div class="desc">
      <p>Проспект Ленина в&nbsp;Ярославле и&nbsp;здание института &laquo;Резинопроект&raquo;. 1965&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-113</span>. Оп. 1. Д. 124. Л. 59.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/353.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/353.jpg"><img style="max-width: 35%;" alt="" src="img/docs/thumbs/353.jpg"></a>
    </div>
    <div class="desc">
      <p>Решение Ярославского горисполкома &laquo;О&nbsp;переименовании проспекта имени <span class="nobr">О. Ю. Шмидта</span> в&nbsp;проспект имени <span class="nobr">В. И. Ленина</span>&raquo;. 1957&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-1269</span>. Оп. 3. Д. 481. Л. 207.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/354.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/354.jpg"><img alt="" src="img/docs/thumbs/354.jpg"></a>
    </div>
    <div class="desc">
      <p>На&nbsp;ярославской телестудии. 1950-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-5243.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/355.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/355.jpg"><img alt="" src="img/docs/thumbs/355.jpg"></a>
    </div>
    <div class="desc">
      <p>Перевозка пассажиров в&nbsp;утренние часы пик. Тутаевское шоссе. 1962&ndash;1963&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1689а.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/356.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/356.jpg"><img alt="" src="img/docs/thumbs/356.jpg"></a>
    </div>
    <div class="desc">
      <p>Выступление председателя Бюро народного собрания Болгарии Ф. Козовского на&nbsp;митинге, посвященном встрече делегации Болгарской народной республики. Г.&nbsp;Ярославль.&nbsp;18&nbsp;января 1956&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н1&mdash;249.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/357.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/357.jpg"><img alt="" src="img/docs/thumbs/357.jpg"></a>
    </div>
    <div class="desc">
      <p>Гвинейские спортсмены в&nbsp;сборочном цехе Ярославского моторного завода. Август 1964&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2835.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/358.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/358.jpg"><img style="max-width: 65%;" alt="" src="img/docs/thumbs/358.jpg"></a>
    </div>
    <div class="desc">
      <p>Директор шинного завода в&nbsp;КНР Чан Линь и&nbsp;инженер Линь Цэнбяо наблюдают за&nbsp;работой испытательного станка на&nbsp;Ярославском шинном заводе.&nbsp;25&nbsp;ноября 1957&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2415.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/359.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/359.jpg"><img alt="" src="img/docs/thumbs/359.jpg"></a>
    </div>
    <div class="desc">
      <p>Польская делегация во&nbsp;главе с&nbsp;министром химической промышленности А.&nbsp;Радлинским в&nbsp;строящемся поселке Новоярославского нефтеперерабатывающего завода.&nbsp;16&nbsp;июля 1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;2344.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/360.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/360.jpg"><img alt="" src="img/docs/thumbs/360.jpg"></a>
    </div>
    <div class="desc">
      <p>Делегация Польской народной республики на&nbsp;Ярославском шинном заводе. Июнь 1965&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3174в.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/361.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/361.jpg"><img alt="" src="img/docs/thumbs/361.jpg"></a>
    </div>
    <div class="desc">
      <p>Празднование&nbsp;1 Мая 1969&nbsp;г.&nbsp;в&nbsp;г. Рыбинске. РбФ ГАЯО. Опись позитивов. П1-1317.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/362.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/362.jpg"><img alt="" src="img/docs/thumbs/362.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;агитпункте Брейтовской районной библиотеки.&nbsp;1951. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2577.</p>
    </div>
  </div>
</div>

<p>16 июня 1963 года на&nbsp;орбиту спутника Земли был выведен космический корабль <span class="nobr">&laquo;Восток-6&raquo;</span>, впервые в&nbsp;мире пилотируемый женщиной, <span class="nobr">летчиком-космонавтом</span> Валентиной Владимировной Терешковой, нашей землячкой, уроженкой Ярославского края.</p>
<p>Трое суток провела она в&nbsp;космосе 48 раз облетела вокруг Земли и&nbsp;19 июня 1963 года благополучно совершила посадку.</p>
<p>Страна восторженно встретила героиню. За&nbsp;осуществление длительного космического полета 22 июня 1963 года <span class="nobr">В. В. Терешковой</span> было присвоено звание Героя Советского Союза.</p>
<p>Трудовая биография прославленной &laquo;Чайки&raquo; была тесно связана с&nbsp;комбинатом &laquo;Красный Перекоп&raquo;. И&nbsp;впоследствии <span class="nobr">В. В. Терешкова</span> неоднократно приезжала в&nbsp;Ярославль, встречалась с&nbsp;населением города, была депутатом Верховного Совета СССР от&nbsp;Красноперекопского избирательного округа г.&nbsp;Ярославля.</p>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/363.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/363.jpg"><img alt="" src="img/docs/thumbs/363.jpg"></a>
    <a data-title="<a href='img/docs/364.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/364.jpg"><img alt="" src="img/docs/thumbs/364.jpg"></a>
    <a data-title="<a href='img/docs/365.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/365.jpg"><img style="max-width: 20%;" alt="" src="img/docs/thumbs/365.jpg"></a>
    <a data-title="<a href='img/docs/366.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/366.jpg"><img alt="" src="img/docs/thumbs/366.jpg"></a>
    <a data-title="<a href='img/docs/367.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/367.jpg"><img alt="" src="img/docs/thumbs/367.jpg"></a>
    <a data-title="<a href='img/docs/368.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/368.jpg"><img alt="" src="img/docs/thumbs/368.jpg"></a>
    <a data-title="<a href='img/docs/369.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/369.jpg"><img alt="" src="img/docs/thumbs/369.jpg"></a>
    <a data-title="<a href='img/docs/370.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/370.jpg"><img alt="" src="img/docs/thumbs/370.jpg"></a>
    <a data-title="<a href='img/docs/371.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/371.jpg"><img alt="" src="img/docs/thumbs/371.jpg"></a>
    <a data-title="<a href='img/docs/372.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/372.jpg"><img alt="" src="img/docs/thumbs/372.jpg"></a>
    <a data-title="<a href='img/docs/373.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/373.jpg"><img alt="" src="img/docs/thumbs/373.jpg"></a>
    <a data-title="<a href='img/docs/374.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/374.jpg"><img style="max-width: 20%;" alt="" src="img/docs/thumbs/374.jpg"></a>
  </div>
  <div class="desc">
    <p>Торжественная встреча В.&nbsp;В.&nbsp;Терешковой в&nbsp;г. Ярославле.&nbsp;1963&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-3662. Оп.&nbsp;1. Д. 54. Л. 18, 19, 20, Д. 164а. Л. 33, Д. 173. Л. 4, Д. 174. Л. 80.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/375.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/375.jpg"><img alt="" src="img/docs/thumbs/375.jpg"></a>
    <a data-title="<a href='img/docs/376.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/376.jpg"><img alt="" src="img/docs/thumbs/376.jpg"></a>
  </div>
  <div class="desc">
    <p>Вручение наград в&nbsp;Кировском райвоенкомате&nbsp;г. Ярославля накануне Дня Победы. Май 1966&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3287, П1-3287а.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/377.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/377.jpg"><img alt="" src="img/docs/thumbs/377.jpg"></a>
    </div>
    <div class="desc">
      <p>Колонна Первомайской демонстрации на&nbsp;Советской улице в&nbsp;г. Ярославле.&nbsp;1949&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;2547.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/378.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/378.jpg"><img alt="" src="img/docs/thumbs/378.jpg"></a>
    </div>
    <div class="desc">
      <p>Секретарь партийной организации колхоза &laquo;Красный коллективист&raquo; Некрасовского района В.&nbsp;М.&nbsp;Смирнов и&nbsp;труженики колхоза на&nbsp;политинформации.&nbsp;18&nbsp;февраля 1950&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;1968.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/379.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/379.jpg"><img alt="" src="img/docs/thumbs/379.jpg"></a>
    <a data-title="<a href='img/docs/380.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/380.jpg"><img alt="" src="img/docs/thumbs/380.jpg"></a>
    <a data-title="<a href='img/docs/381.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/381.jpg"><img alt="" src="img/docs/thumbs/381.jpg"></a>
  </div>
  <div class="desc">
    <p>Пребывание первого секретаря ЦК&nbsp;КПСС Н.&nbsp;С. Хрущева на&nbsp;Ярославской земле. Посещение Н.&nbsp;С. Хрущевым Ярославского моторного завода.&nbsp;1963&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 56. Фото&nbsp;5, 12, 17.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/384.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/384.jpg"><img alt="" src="img/docs/thumbs/384.jpg"></a>
    </div>
    <div class="desc">
      <p>Первый секретарь ЦК&nbsp;КПСС Н.&nbsp;С. Хрущев на&nbsp;Новоярославском нефтеперерабатывающем заводе. Июнь 1963&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-3552.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/385.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/385.jpg"><img alt="" src="img/docs/thumbs/385.jpg"></a>
    </div>
    <div class="desc">
      <p>Первый секретарь ЦК&nbsp;КПСС Н.&nbsp;С. Хрущев беседует со&nbsp;сборщиком автопокрышек Ярославского шинного завода П.&nbsp;С.&nbsp;Гуниным. Июнь 1963&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2678.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/382.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/382.jpg"><img alt="" src="img/docs/thumbs/382.jpg"></a>
    <a data-title="<a href='img/docs/383.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="31" href="img/docs/383.jpg"><img style="max-width: 30%;" alt="" src="img/docs/thumbs/383.jpg"></a>
  </div>
  <div class="desc">
    <p>Попович&nbsp;П.&nbsp;Р., летчик-космонавт, дважды Герой Советского Союза, на&nbsp;стадионе &laquo;Шинник&raquo; в&nbsp;г. Ярославле.&nbsp;1964&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10806, П1-10806(2).</p>
  </div>
</div>