<h3>Промышленность</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/386.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/386.jpg"><img alt="" src="img/docs/thumbs/386.jpg"></a>
    </div>
    <div class="desc">
      <p>Буровая &#8470;&nbsp;7&nbsp;треста &laquo;Ярославнефтегазразведка&raquo;. Бригада М.&nbsp;В. Жука&nbsp;&mdash; одна из&nbsp;лучших. Даниловский район.&nbsp;1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8660(3).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/387.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/387.jpg"><img alt="" src="img/docs/thumbs/387.jpg"></a>
    </div>
    <div class="desc">
      <p>Установка каталитического реформинга НЯНПЗ. Здесь смонтирована современная система контроля и&nbsp;управления процессом &laquo;Нефть-1&raquo;. 1976&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-7901.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/388.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/388.jpg"><img alt="" src="img/docs/thumbs/388.jpg"></a>
    </div>
    <div class="desc">
      <p>Установки завода СК&nbsp;&mdash; 1&nbsp;г. Ярославля.&nbsp;1979&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8913.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/389.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/389.jpg"><img alt="" src="img/docs/thumbs/389.jpg"></a>
    </div>
    <div class="desc">
      <p>Интерьер цехов лакокрасочного завода &laquo;Свободный труд&raquo; в&nbsp;г. Ярославле.&nbsp;1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8565а.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/390.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/390.jpg"><img alt="" src="img/docs/thumbs/390.jpg"></a>
    <a data-title="<a href='img/docs/391.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/391.jpg"><img alt="" src="img/docs/thumbs/391.jpg"></a>
  </div>
  <div class="desc">
    <p>Лучшая смена цеха Е-11 Ярославского завода&nbsp;СК на&nbsp;ударной вахте. 1978&ndash;1979&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8956, П1-9039(2).</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/392.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/392.jpg"><img alt="" src="img/docs/thumbs/392.jpg"></a>
    </div>
    <div class="desc">
      <p>Приказ генерального директора Ярославского объединения &laquo;Автодизель&raquo; о&nbsp;составе объединения и&nbsp;его задачах. 1971&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-955</span>. Оп. 1. Д. 1. Л. 6.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/393.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/393.jpg"><img alt="" src="img/docs/thumbs/393.jpg"></a>
    </div>
    <div class="desc">
      <p>Геодезисты строительного управления &#8470;&nbsp;7&nbsp;треста &laquo;Ярнефтехимстрой&raquo; на&nbsp;строительстве Ярославского завода дизельной аппаратуры. 1970-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2571.1.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/394.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/394.jpg"><img alt="" src="img/docs/thumbs/394.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;термическом цехе Ярославского завода топливной аппаратуры.&nbsp;1973&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-7363.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/395.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/395.jpg"><img alt="" src="img/docs/thumbs/395.jpg"></a>
    <a data-title="<a href='img/docs/396.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/396.jpg"><img alt="" src="img/docs/thumbs/396.jpg"></a>
  </div>
  <div class="desc">
    <p>Строительство Ярославского завода дизельной аппаратуры. 1970-е гг. ЦДНИ ГАЯО. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2565.1.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/397.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/397.jpg"><img alt="" src="img/docs/thumbs/397.jpg"></a>
    </div>
    <div class="desc">
      <p>Приказ директора Ярославского завода дизельной аппаратуры об&nbsp;организации работы по&nbsp;подготовке выпуска топливных насосов. 1976&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-955</span>. Оп. 1. Д. 89 В. Л. 131.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/398.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/398.jpg"><img alt="" src="img/docs/thumbs/398.jpg"></a>
    </div>
    <div class="desc">
      <p>Положение о&nbsp;Тутаевском заводе дизельных агрегатов, утвержденное генеральным директором Ярославского объединения &laquo;Автодизель&raquo;. 1975&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-1038</span>. Оп. 1. Д. 5. Л. 1.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/402.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/402.jpg"><img alt="" src="img/docs/thumbs/402.jpg"></a>
    </div>
    <div class="desc">
      <p>Цех &#8470;&nbsp;9&nbsp;Ярославского шинного завода осваивает мероприятия по&nbsp;выпуску автопокрышек для автомобиля &laquo;Жигули&raquo;. 1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8569.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/403.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/403.jpg"><img alt="" src="img/docs/thumbs/403.jpg"></a>
    </div>
    <div class="desc">
      <p>Н.&nbsp;П.&nbsp;Тигина&nbsp;&mdash; передовик производства механического цеха завода холодильных машин в&nbsp;г. Ярославле.&nbsp;1977&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8688.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/404.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/404.jpg"><img alt="" src="img/docs/thumbs/404.jpg"></a>
    </div>
    <div class="desc">
      <p>Семибратовский экспериментальный завод газоочистительной аппаратуры. Полуавтоматическая сварка в&nbsp;среде защитных газов.&nbsp;1974&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8032.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/405.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/405.jpg"><img alt="" src="img/docs/thumbs/405.jpg"></a>
    </div>
    <div class="desc">
      <p>Верфь Ярославского судостроительного завода. Готовая продукция.&nbsp;1980&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-11913(2).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/407.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/407.jpg"><img alt="" src="img/docs/thumbs/407.jpg"></a>
    </div>
    <div class="desc">
      <p>Главный корпус комбината &laquo;Красный Перекоп&raquo;. 1971&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н1-737.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/408.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/408.jpg"><img style="max-width: 30%;" alt="" src="img/docs/thumbs/408.jpg"></a>
    <a data-title="<a href='img/docs/409.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/409.jpg"><img alt="" src="img/docs/thumbs/409.jpg"></a>
  </div>
  <div class="desc">
    <p>Новое оборудование на&nbsp;комбинате &laquo;Красный Перекоп&raquo;. 1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-6150, П1-6158.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/410.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/410.jpg"><img alt="" src="img/docs/thumbs/410.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;цехе сборки часов Угличского часового завода.&nbsp;1976&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н1&mdash;1047.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/411.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/411.jpg"><img alt="" src="img/docs/thumbs/411.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;сборочном цехе Угличского часового завода. Сборочный аппарат ПР-440&nbsp;с механическими головками. Производство Угличского часового завода. Июль 1976&nbsp;г. УгФ ГАЯО.&nbsp;Ф. Р-501. Оп. 5н. Д. 49. Л. 1.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/412.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/412.jpg"><img alt="" src="img/docs/thumbs/412.jpg"></a>
    </div>
    <div class="desc">
      <p>Производственные цеха фабрики &laquo;Красные ткачи&raquo;. 1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8395.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/413.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/413.jpg"><img alt="" src="img/docs/thumbs/413.jpg"></a>
    </div>
    <div class="desc">
      <p>Цех прядильной фабрики &laquo;Красный Перевал&raquo;. 1979&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8955.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/414.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/414.jpg"><img alt="" src="img/docs/thumbs/414.jpg"></a>
    </div>
    <div class="desc">
      <p>Цех Волжской шерстопрядильной фабрики в&nbsp;пос. Некоуз Ярославской области.&nbsp;1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8554.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/416.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/416.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/416.jpg"></a>
    <a data-title="<a href='img/docs/417.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/417.jpg"><img alt="" src="img/docs/thumbs/417.jpg"></a>
  </div>
  <div class="desc">
    <p>Приказ директора Ярославского производственного объединения кондитерской промышленности &laquo;О&nbsp;выработке и&nbsp;поставке кондитерских изделий для обслуживания XXII Олимпийских игр&raquo;, с&nbsp;приложением. 1980&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-199</span>. Оп. 13. Д. 88. Л. 145, 147.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/418.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/418.jpg"><img alt="" src="img/docs/thumbs/418.jpg"></a>
    </div>
    <div class="desc">
      <p>Работницы Ярославской трикотажной фабрики&nbsp;им. Крупской.&nbsp;1970 -е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1891(5).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/419.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="34" href="img/docs/419.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/419.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;цехе готовой продукции Пошехонского сыродельного завода. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6533.</p>
    </div>
  </div>
</div>