<h3>Сельское хозяйство</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/420.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/420.jpg"><img alt="" src="img/docs/thumbs/420.jpg"></a>
    </div>
    <div class="desc">
      <p>Стадо коров колхоза &laquo;Прогресс&raquo; Рязанцевского района.&nbsp;1978&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-10307.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/421.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/421.jpg"><img alt="" src="img/docs/thumbs/421.jpg"></a>
    </div>
    <div class="desc">
      <p>Льноводы колхоза &laquo;Знамя Победы&raquo; на&nbsp;уборке льна.&nbsp;1971&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-8446.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/422.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/422.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/422.jpg"></a>
    </div>
    <div class="desc">
      <p>Теплица совхоза &laquo;Заволжский&raquo;. Сбор урожая огурцов.&nbsp;1970. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-8103.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/423.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/423.jpg"><img alt="" src="img/docs/thumbs/423.jpg"></a>
    <a data-title="<a href='img/docs/424.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/424.jpg"><img alt="" src="img/docs/thumbs/424.jpg"></a>
    <a data-title="<a href='img/docs/425.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/425.jpg"><img alt="" src="img/docs/thumbs/425.jpg"></a>
  </div>
  <div class="desc">
    <p>Уборка капусты в&nbsp;совхозе &laquo;Туношна&raquo;. 1965&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3145, П1-3146, П1-3547.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/426.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/426.jpg"><img alt="" src="img/docs/thumbs/426.jpg"></a>
    </div>
    <div class="desc">
      <p>Уборка картофеля в&nbsp;совхозе &laquo;Молот&raquo; Ярославского района.&nbsp;1966&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. П1-7998.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/427.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/427.jpg"><img alt="" src="img/docs/thumbs/427.jpg"></a>
    </div>
    <div class="desc">
      <p>Помощь города селу. Работники городских учреждений на&nbsp;уборке картофеля в&nbsp;совхозе &laquo;Молот&raquo; Ярославского района.&nbsp;1974&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;7998.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/428.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/428.jpg"><img alt="" src="img/docs/thumbs/428.jpg"></a>
    </div>
    <div class="desc">
      <p>Уборка зерновых в&nbsp;учебном хозяйстве &laquo;Дружба&raquo;. 1970&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3&mdash;3348.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/429.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/429.jpg"><img alt="" src="img/docs/thumbs/429.jpg"></a>
    </div>
    <div class="desc">
      <p>На&nbsp;уборке зерновых в&nbsp;совхозе &laquo;Красный бор&raquo; Ярославского района.&nbsp;1969&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3&mdash;3410.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/430.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/430.jpg"><img alt="" src="img/docs/thumbs/430.jpg"></a>
    </div>
    <div class="desc">
      <p>Труженик совхоза &laquo;Мир&raquo; Ярославского района.&nbsp;1969. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3&mdash;1953(5).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/431.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/431.jpg"><img alt="" src="img/docs/thumbs/431.jpg"></a>
    </div>
    <div class="desc">
      <p>Уборка сена в&nbsp;совхозе &laquo;Красный бор&raquo; Ярославского района.&nbsp;1967. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3991.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/432.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/432.jpg"><img alt="" src="img/docs/thumbs/432.jpg"></a>
    </div>
    <div class="desc">
      <p>Животноводческий комплекс ОПХ &laquo;Михайловское&raquo;. 1973&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-8098.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/433.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/433.jpg"><img alt="" src="img/docs/thumbs/433.jpg"></a>
    </div>
    <div class="desc">
      <p>Корова ярославской породы колхоза &laquo;Горшиха&raquo; Ярославского района. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1223.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/434.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/434.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/434.jpg"></a>
    </div>
    <div class="desc">
      <p>Свиньи брейтовской породы на&nbsp;выпасе в&nbsp;колхозе &laquo;Луч коммунизма&raquo;. 1960-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-218.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/435.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/435.jpg"><img alt="" src="img/docs/thumbs/435.jpg"></a>
    <a data-title="<a href='img/docs/436.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/436.jpg"><img alt="" src="img/docs/thumbs/436.jpg"></a>
  </div>
  <div class="desc">
    <p>Овцы романовской породы в&nbsp;овцекомплексе Борисоглебского района. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-10193, П1&mdash;10465.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/437.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/437.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/437.jpg"></a>
    </div>
    <div class="desc">
      <p>На&nbsp;птицефабрике &laquo;Новый Север&raquo; Ярославского района.&nbsp;1976. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-7146.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/438.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/438.jpg"><img alt="" src="img/docs/thumbs/438.jpg"></a>
    </div>
    <div class="desc">
      <p>Коровы ярославской породы из&nbsp;колхоза &laquo;Свобода&raquo; Тутаевского района. 1962. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2294</span>. Оп.4. Д.569. Л.7.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/439.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/439.jpg"><img alt="" src="img/docs/thumbs/439.jpg"></a>
    </div>
    <div class="desc">
      <p>Новые дома в&nbsp;колхозе &laquo;Восход&raquo; Ярославского района, построенные в&nbsp;порядке шефской помощи объединением &laquo;Лакокраска&raquo;. 1975. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-6569.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/440.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/440.jpg"><img alt="" src="img/docs/thumbs/440.jpg"></a>
    </div>
    <div class="desc">
      <p>Доярки Шопшинской бригады колхоза имени Ленина Гаврилов-Ямского района.&nbsp;1959&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-1763.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/441.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/441.jpg"><img alt="" src="img/docs/thumbs/441.jpg"></a>
    </div>
    <div class="desc">
      <p>Добыча сапропеля земснарядами на&nbsp;озере Неро Ростовского района.&nbsp;1962&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-6625.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/442.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/442.jpg"><img alt="" src="img/docs/thumbs/442.jpg"></a>
    <a data-title="<a href='img/docs/443.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/443.jpg"><img alt="" src="img/docs/thumbs/443.jpg"></a>
    <a data-title="<a href='img/docs/444.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/444.jpg"><img alt="" src="img/docs/thumbs/444.jpg"></a>
  </div>
  <div class="desc">
    <p>Лучшие земледельцы совхоза &laquo;Красный бор&raquo; Ярославского района. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3993, П1-3994, П1-3995.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/445.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/445.jpg"><img alt="" src="img/docs/thumbs/445.jpg"></a>
    <a data-title="<a href='img/docs/446.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/446.jpg"><img alt="" src="img/docs/thumbs/446.jpg"></a>
    <a data-title="<a href='img/docs/447.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/447.jpg"><img alt="" src="img/docs/thumbs/447.jpg"></a>
    <a data-title="<a href='img/docs/448.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="35" href="img/docs/448.jpg"><img alt="" src="img/docs/thumbs/448.jpg"></a>
  </div>
  <div class="desc">
    <p>Сельскохозяйственная техника, созданная на&nbsp;Ярославском моторном заводе и&nbsp;подготовленная к&nbsp;отправке на&nbsp;село (косилки-измельчители, картофелеуборочные комбайны, комбайн &laquo;Ярославец&raquo;). 1960&ndash;1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-2450, Н0-8653, Н0-8863, Н0-8981.</p>
  </div>
</div>