<h3>Образование</h3>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/449.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/449.jpg"><img style="max-width: 40%;" alt="" src="img/docs/thumbs/449.jpg"></a>
  </div>
  <div class="desc">
    <p>Первые студенты Ярославского государственного университета.&nbsp;1&nbsp;сентября 1970&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-7031.</p>
  </div>
</div>

<h3>Культура</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/450.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/450.jpg"><img alt="" src="img/docs/thumbs/450.jpg"></a>
    </div>
    <div class="desc">
      <p>Интерьер Дворца культуры моторостроителей.&nbsp;1970&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-9091.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/451.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/451.jpg"><img alt="" src="img/docs/thumbs/451.jpg"></a>
    </div>
    <div class="desc">
      <p>Решение Ярославского горисполкома о&nbsp;приемке в&nbsp;эксплуатацию плавательного бассейна &laquo;Лазурный&raquo; по&nbsp;улице Чкалова. 1978&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-1269</span>. Оп. 3. Д. 1350. Л. 105.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/458.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/458.jpg"><img alt="" src="img/docs/thumbs/458.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославский симфонический оркестр.&nbsp;1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3-9671.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/452.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/452.jpg"><img alt="" src="img/docs/thumbs/452.jpg"></a>
    <a data-title="<a href='img/docs/453.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/453.jpg"><img alt="" src="img/docs/thumbs/453.jpg"></a>
    <a data-title="<a href='img/docs/454.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/454.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/454.jpg"></a>
  </div>
  <div class="desc">
    <p>Открытие памятника актеру Ф.&nbsp;Г.&nbsp;Волкову в&nbsp;сквере на&nbsp;площади имени Ф.&nbsp;Г.&nbsp;Волкова в&nbsp;г. Ярославле. Авторы проекта: архитектор В.&nbsp;Маров, скульптор А.&nbsp;Соловьев. Август 1973&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-8927. Опись позитивов. П3-8129.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/455.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/455.jpg"><img alt="" src="img/docs/thumbs/455.jpg"></a>
    <a data-title="<a href='img/docs/456.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/456.jpg"><img alt="" src="img/docs/thumbs/456.jpg"></a>
    <a data-title="<a href='img/docs/457.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="36" href="img/docs/457.jpg"><img alt="" src="img/docs/thumbs/457.jpg"></a>
  </div>
  <div class="desc">
    <p>Комплекс речного вокзала на&nbsp;р. Волге в&nbsp;г. Ярославле. За&nbsp;архитектуру комплекса авторы проекта: авторский коллектив во&nbsp;главе с&nbsp;архитектором Т.&nbsp;П.&nbsp;Садовским&nbsp;&mdash; удостоен Государственной премии РСФСР. 1970&ndash;1980-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 1615. Оп.&nbsp;3. Д. 12. Л. 29; ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6183.</p>
  </div>
</div>