<h3>Общественно-политическая жизнь</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/459.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/459.jpg"><img alt="" src="img/docs/thumbs/459.jpg"></a>
    </div>
    <div class="desc">
      <p>Венгерская делегация во&nbsp;главе с&nbsp;председателем правительства Д.&nbsp;Лазаром знакомится с&nbsp;экспозицией Ростовского музея&nbsp;&mdash; заповедника. Ноябрь 1977&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись фотоальбомов. Ед.&nbsp;хр.&nbsp;432.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/460.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/460.jpg"><img alt="" src="img/docs/thumbs/460.jpg"></a>
    </div>
    <div class="desc">
      <p>Профсоюзная делегация Польской народной республики на&nbsp;Ярославском моторном заводе.&nbsp;1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8440.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/461.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/461.jpg"><img alt="" src="img/docs/thumbs/461.jpg"></a>
    </div>
    <div class="desc">
      <p>Делегация Союза молодежи Чехословакии в&nbsp;г. Ярославле.&nbsp;1973&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8408а.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/462.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/462.jpg"><img alt="" src="img/docs/thumbs/462.jpg"></a>
    <a data-title="<a href='img/docs/463.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/463.jpg"><img alt="" src="img/docs/thumbs/463.jpg"></a>
  </div>
  <div class="desc">
    <p>Представители дипломатического корпуса на&nbsp;Ярославской земле. Июнь 1971&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись фотоальбомов. Ед.&nbsp;хр.&nbsp;437.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/464.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/464.jpg"><img alt="" src="img/docs/thumbs/464.jpg"></a>
    </div>
    <div class="desc">
      <p>Делегация Социалистической единой партии Германии на&nbsp;ярославской фабрике &laquo;Североход&raquo;. 1972&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8405б.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/465.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/465.jpg"><img alt="" src="img/docs/thumbs/465.jpg"></a>
    </div>
    <div class="desc">
      <p>Монгольские учащиеся на&nbsp;занятиях в&nbsp;часовой мастерской Ярославского ПТУ &#8470;&nbsp;31. 1975&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6215.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/466.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/466.jpg"><img alt="" src="img/docs/thumbs/466.jpg"></a>
    <a data-title="<a href='img/docs/467.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="37" href="img/docs/467.jpg"><img alt="" src="img/docs/thumbs/467.jpg"></a>
  </div>
  <div class="desc">
    <p>Торжественное открытие велодрома в&nbsp;г. Ярославле. Июнь 1977&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8600б, П1-8600д.</p>
  </div>
</div>