<h3>Ярославль. Виды города</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/468.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/468.jpg"><img alt="" src="img/docs/thumbs/468.jpg"></a>
    </div>
    <div class="desc">
      <p>Юбилейная площадь в&nbsp;г. Ярославле. Вид на&nbsp;Дворец культуры ЯМЗ. 1975&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6191.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/471.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/471.jpg"><img alt="" src="img/docs/thumbs/471.jpg"></a>
    </div>
    <div class="desc">
      <p>Юбилейная площадь в&nbsp;г. Ярославле. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8844.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/469.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/469.jpg"><img alt="" src="img/docs/thumbs/469.jpg"></a>
    <a data-title="<a href='img/docs/470.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/470.jpg"><img alt="" src="img/docs/thumbs/470.jpg"></a>
  </div>
  <div class="desc">
    <p>Проспект Ленина в&nbsp;г. Ярославле.&nbsp;1975&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8842(2), П1-8842(3).</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/472.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/472.jpg"><img alt="" src="img/docs/thumbs/472.jpg"></a>
    </div>
    <div class="desc">
      <p>Вокзал станции Ярославль-Главный и&nbsp;Привокзальная площадь. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6300.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/473.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/473.jpg"><img alt="" src="img/docs/thumbs/473.jpg"></a>
    </div>
    <div class="desc">
      <p>Дом моды в&nbsp;г. Ярославле. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;7893.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/474.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/474.jpg"><img alt="" src="img/docs/thumbs/474.jpg"></a>
    </div>
    <div class="desc">
      <p>г.&nbsp;Ярославль. Набережная р. Волги и&nbsp;Стрелка. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6307.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/475.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/475.jpg"><img alt="" src="img/docs/thumbs/475.jpg"></a>
    </div>
    <div class="desc">
      <p>Первомайский бульвар в&nbsp;г. Ярославле. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО Опись позитивов. П1&mdash;6334.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/476.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/476.jpg"><img alt="" src="img/docs/thumbs/476.jpg"></a>
    </div>
    <div class="desc">
      <p>Советская площадь в&nbsp;г. Ярославле. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6303.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/477.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="38" href="img/docs/477.jpg"><img alt="" src="img/docs/thumbs/477.jpg"></a>
    </div>
    <div class="desc">
      <p>Улица Кирова в&nbsp;г. Ярославле. 1970-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;6293.</p>
    </div>
  </div>
</div>