<h3>Виды городов</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/1.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/1.jpg"><img alt="" src="img/docs/thumbs/1.jpg"></a>
    </div>
    <div class="desc">
      <p>Поселок имени <span class="nobr">К. И. Бутусова</span> в&nbsp;г.&nbsp;Ярославле. <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-113</span>. Оп.1. Д.125. Л.3.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/2.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/2.jpg"><img alt="" src="img/docs/thumbs/2.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание Государственного банка на&nbsp;ул. Комсомольской в&nbsp;г. Ярославле. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2538.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/3.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/3.jpg"><img alt="" src="img/docs/thumbs/3.jpg"></a>
    </div>
    <div class="desc">
      <p>Здание строящейся гостиницы &laquo;Ярославль&raquo; (Архитектор <span class="nobr">С. В. Капачинский</span>). <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-113</span>. Оп.1. Д.124. Л.20.</p>
    </div>
  </div>            
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/4.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/4.jpg"><img style="max-width: 30%;" alt="" src="img/docs/thumbs/4.jpg"></a>
    <a data-title="<a href='img/docs/5.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/5.jpg"><img alt="" src="img/docs/thumbs/5.jpg"></a>
  </div>
  <div class="desc">
    <p>Строящийся дом на&nbsp;проспекте Шмидта (совр. проспект Ленина) в&nbsp;г.&nbsp;Ярославле. <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-113</span>. Оп.1. Д.124. Л.8&ndash;9.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/6.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/6.jpg"><img alt="" src="img/docs/thumbs/6.jpg"></a>
    </div>
    <div class="desc">
      <p>Дом на&nbsp;углу проспекта Шмидта и&nbsp;улицы Гражданской (совр. проспект Ленина и&nbsp;проспект Октября) в&nbsp;г.&nbsp;Ярославле. <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-113</span>. Оп.1. Д.124. Л.13.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/10.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/10.jpg"><img alt="" src="img/docs/thumbs/10.jpg"></a>
    </div>
    <div class="desc">
      <p>Строительство жилого дома на&nbsp;углу Красной площади и&nbsp;Гражданской улицы (ныне проспект Октября) в&nbsp;г. Ярославле. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н5-655.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/7.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/7.jpg"><img alt="" src="img/docs/thumbs/7.jpg"></a>
    <a data-title="<a href='img/docs/8.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/8.jpg"><img alt="" src="img/docs/thumbs/8.jpg"></a>
    <a data-title="<a href='img/docs/9.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/9.jpg"><img alt="" src="img/docs/thumbs/9.jpg"></a>
  </div>
  <div class="desc">
    <p>Наводнение в&nbsp;г. Рыбинске.&nbsp;1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3-1336, П1-1338, П1-1339.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/11.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/11.jpg"><img alt="" src="img/docs/thumbs/11.jpg"></a>
    </div>
    <div class="desc">
      <p>Пароход &laquo;Пчелка&raquo; с&nbsp;первыми пассажирами подходит к&nbsp;пристани &laquo;Ярославль&raquo;. 1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2349.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/12.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/12.jpg"><img alt="" src="img/docs/thumbs/12.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Переславль-Залесский Ярославской области. Вид на&nbsp;реку Трубеж. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2318.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/13.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/13.jpg"><img alt="" src="img/docs/thumbs/13.jpg"></a>
    <a data-title="<a href='img/docs/14.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/14.jpg"><img alt="" src="img/docs/thumbs/14.jpg"></a>
  </div>
  <div class="desc">
    <p>Проспект Шмидта в&nbsp;г. Ярославле (с&nbsp;1957&nbsp;г. &mdash;&nbsp;проспект Ленина). 1930-е гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-837. Оп.&nbsp;1. Д. 35.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/15.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/15.jpg"><img alt="" src="img/docs/thumbs/15.jpg"></a>
    </div>
    <div class="desc">
      <p>Сквер на&nbsp;ул.&nbsp;Тутаевской (совр. ул.&nbsp;Свердлова) в&nbsp;г.&nbsp;Ярославле. <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-113</span>. Оп.1. Д.125. Л.4.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/17.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="3" href="img/docs/17.jpg"><img alt="" src="img/docs/thumbs/17.jpg"></a>
    </div>
    <div class="desc">
      <p>Г.&nbsp;Ярославль, ул.&nbsp;Тутаевская (совр. ул.&nbsp;Свердлова). <span class="nobr">1930-е</span> гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-113</span>. Оп.1. Д.125. Л.6.</p>
    </div>
  </div>            
</div>