<h3>Промышленность</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/478.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/478.jpg"><img alt="" src="img/docs/thumbs/478.jpg"></a>
    </div>
    <div class="desc">
      <p>Переславский химический завод. Цех изготовления магнитных лент.&nbsp;1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10369.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/479.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/479.jpg"><img alt="" src="img/docs/thumbs/479.jpg"></a>
    </div>
    <div class="desc">
      <p>Цех холодильных агрегатов завода холодильных машин&nbsp;г. Ярославля.&nbsp;1981&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;9531.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/480.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/480.jpg"><img alt="" src="img/docs/thumbs/480.jpg"></a>
    <a data-title="<a href='img/docs/481.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/481.jpg"><img alt="" src="img/docs/thumbs/481.jpg"></a>
  </div>
  <div class="desc">
    <p>Приказы по&nbsp;Ярославскому заводу &laquo;Красный маяк&raquo; в&nbsp;связи с&nbsp;200-летием образования предприятия.&nbsp;1986&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2350. Оп.&nbsp;3. Д. 1359. Л. 112, Д. 1358. Л. 89.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/482.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/482.jpg"><img alt="" src="img/docs/thumbs/482.jpg"></a>
    <a data-title="<a href='img/docs/483.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/483.jpg"><img alt="" src="img/docs/thumbs/483.jpg"></a>
  </div>
  <div class="desc">
    <p>Рыбинский приборостроительный завод. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 58. Фото&nbsp;15, 16.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/484.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/484.jpg"><img alt="" src="img/docs/thumbs/484.jpg"></a>
    <a data-title="<a href='img/docs/485.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/485.jpg"><img alt="" src="img/docs/thumbs/485.jpg"></a>
    <a data-title="<a href='img/docs/486.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/486.jpg"><img alt="" src="img/docs/thumbs/486.jpg"></a>
    <a data-title="<a href='img/docs/487.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/487.jpg"><img alt="" src="img/docs/thumbs/487.jpg"></a>
  </div>
  <div class="desc">
    <p>Рыбинское производственное объединение моторостроения и&nbsp;его продукция. 1980-е гг. РбФ ГАЯО. Коллекция фотодокументов.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/488.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/488.jpg"><img alt="" src="img/docs/thumbs/488.jpg"></a>
    </div>
    <div class="desc">
      <p>Продукция Рыбинского завода полиграфических машин. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-10093.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/491.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/491.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/491.jpg"></a>
    </div>
    <div class="desc">
      <p>Коллектив Левцовского аэропорта.&nbsp;1985&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10647.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/489.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/489.jpg"><img alt="" src="img/docs/thumbs/489.jpg"></a>
    <a data-title="<a href='img/docs/490.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/490.jpg"><img alt="" src="img/docs/thumbs/490.jpg"></a>
  </div>
  <div class="desc">
    <p>Продукция Рыбинского судостроительного завода имени Володарского. 1980-е гг. РбФ ГАЯО. Коллекция фотодокументов.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/492.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/492.jpg"><img alt="" src="img/docs/thumbs/492.jpg"></a>
    </div>
    <div class="desc">
      <p>Участники слета рационализаторов Управления Северной железной дороги.&nbsp;1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10353(3).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/493.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="41" href="img/docs/493.jpg"><img alt="" src="img/docs/thumbs/493.jpg"></a>
    </div>
    <div class="desc">
      <p>Бригада В.&nbsp;И. Яркина из&nbsp;второго строительного управления Ярославского объединения &laquo;Гражданстрой&raquo;. 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10393(2).</p>
    </div>
  </div>
</div>