<h3>Сельское хозяйство</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/494.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/494.jpg"><img alt="" src="img/docs/thumbs/494.jpg"></a>
    </div>
    <div class="desc">
      <p>Вспашка земли в&nbsp;совхозе &laquo;Красный бор&raquo; Ярославского района. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;3992.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/495.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/495.jpg"><img alt="" src="img/docs/thumbs/495.jpg"></a>
    </div>
    <div class="desc">
      <p>Жатва зерновых в&nbsp;совхозе &laquo;Туношна&raquo; Ярославского района. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8549.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/496.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/496.jpg"><img alt="" src="img/docs/thumbs/496.jpg"></a>
    </div>
    <div class="desc">
      <p>Победители соревнования механизаторов колхоза &laquo;Красный пограничник&raquo;. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;8716.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/497.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/497.jpg"><img alt="" src="img/docs/thumbs/497.jpg"></a>
    <a data-title="<a href='img/docs/498.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/498.jpg"><img alt="" src="img/docs/thumbs/498.jpg"></a>
  </div>
  <div class="desc">
    <p>Мелиораторы ПМК-17&nbsp;в Ярославском районе. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-8953, П1&mdash;8953(2).</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/500.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/500.jpg"><img alt="" src="img/docs/thumbs/500.jpg"></a>
    <a data-title="<a href='img/docs/501.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/501.jpg"><img alt="" src="img/docs/thumbs/501.jpg"></a>
    <a data-title="<a href='img/docs/502.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/502.jpg"><img alt="" src="img/docs/thumbs/502.jpg"></a>
  </div>
  <div class="desc">
    <p>Приказ Ярославского областного управления сельского хозяйства от&nbsp;<span class="nobr">26.04.1984</span> &#8470;&nbsp;53 о&nbsp;направлении и&nbsp;приеме членов <span class="nobr">комсомольско-молодежного</span> отряда животноводов. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.29. Д.1427. Л. 1&ndash;3.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/499.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/499.jpg"><img alt="" src="img/docs/thumbs/499.jpg"></a>
    </div>
    <div class="desc">
      <p>Уборка зерновых в&nbsp;совхозе &laquo;Левашово&raquo; Некрасовского района. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-6525.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/503.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/503.jpg"><img alt="" src="img/docs/thumbs/503.jpg"></a>
    </div>
    <div class="desc">
      <p>Комсомольско-молодежный отряд животноводов &laquo;Ровесник&raquo; колхоза &laquo;Мир&raquo; Гаврилов-Ямского района.&nbsp;1982&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;10072.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/504.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/504.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/504.jpg"></a>
    </div>
    <div class="desc">
      <p>ГКУ ЯО ГАЯО. Ф. Р-2283. Оп.29.Д.1556. Л.1.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/505.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/505.jpg"><img style="max-width: 15%;" alt="" src="img/docs/thumbs/505.jpg"></a>
    <a data-title="<a href='img/docs/506.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/506.jpg"><img alt="" src="img/docs/thumbs/506.jpg"></a>
    <a data-title="<a href='img/docs/507.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/507.jpg"><img alt="" src="img/docs/thumbs/507.jpg"></a>
  </div>
  <div class="desc">
    <p>Программа развития подсобных хозяйств, производств и&nbsp;промыслов в&nbsp;колхозах, совхозах, предприятиях АПК Ярославской области на&nbsp;1988&nbsp;&mdash; 2000 гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.29. Д.1891. Л.1&ndash;3,18.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/508.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/508.jpg"><img alt="" src="img/docs/thumbs/508.jpg"></a>
    </div>
    <div class="desc">
      <p>Медаль &laquo;За&nbsp;преобразование Нечерноземья РСФСР&raquo; была учреждена Указом Президиума Верховного Совета СССР от&nbsp;30 сентября 1977&nbsp;г. Медалью награждались рабочие, колхозники и&nbsp;служащие за&nbsp;ударный труд по&nbsp;выполнению долговременной программы развития сельского хозяйства Нечерноземной зоны РСФСР, проработавшие, как правило, не&nbsp;менее трех лет в&nbsp;расположенных в&nbsp;этой зоне совхозах, колхозах, на&nbsp;предприятиях, в&nbsp;организациях и&nbsp;учреждениях, деятельность которых была непосредственно связана с&nbsp;преобразованием Нечерноземья.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/509.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/509.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/509.jpg"></a>
    </div>
    <div class="desc">
      <p>Абросимов Николай Ильич, председатель колхоза &laquo;Горшиха&raquo; Ярославского района в&nbsp;1960&ndash;1970-е гг. Герой Социалистического Труда, дважды награжден орденами Ленина. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0-6941.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/510.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/510.jpg"><img alt="" src="img/docs/thumbs/510.jpg"></a>
    <a data-title="<a href='img/docs/511.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/511.jpg"><img alt="" src="img/docs/thumbs/511.jpg"></a>
    <a data-title="<a href='img/docs/512.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/512.jpg"><img alt="" src="img/docs/thumbs/512.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы о&nbsp;представлении работников сельского хозяйства Ярославской области к&nbsp;медали &laquo;За&nbsp;преобразование Нечерноземья&raquo;. 1985&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2380</span>. Оп.11. Д.843. Л.4, 5, 7.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/513.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/513.jpg"><img alt="" src="img/docs/thumbs/513.jpg"></a>
    </div>
    <div class="desc">
      <p>Поселок &laquo;Киргизстан&raquo; в&nbsp;Ростовском районе.&nbsp;1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11930.</p>
    </div>
  </div>
  <div class="docs-container double">
    <div class="imgs">
      <a data-title="<a href='img/docs/514.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/514.jpg"><img alt="" src="img/docs/thumbs/514.jpg"></a>
      <a data-title="<a href='img/docs/515.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="42" href="img/docs/515.jpg"><img alt="" src="img/docs/thumbs/515.jpg"></a>
    </div>
    <div class="desc">
      <p>Решение Ярославского облисполкома от&nbsp;<span class="nobr">30.12.1982</span> &#8470;&nbsp;866 об&nbsp;образовании областного агропромышленного объединения. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.29. Д.1190. Л.1,2.</p>
    </div>
  </div>
</div>