<h3>Культура</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/516.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/516.jpg"><img alt="" src="img/docs/thumbs/516.jpg"></a>
    </div>
    <div class="desc">
      <p>Академик Д.&nbsp;С. Лихачев на&nbsp;торжественном праздновании 800-летия &laquo;Слова о&nbsp;полку Игореве&raquo;. Г.&nbsp;Ярославль, 1985&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11939.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/517.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/517.jpg"><img alt="" src="img/docs/thumbs/517.jpg"></a>
    </div>
    <div class="desc">
      <p>Открытие экспозиции &laquo;Слова о&nbsp;полку Игореве&raquo; в&nbsp;Ярославском музее-заповеднике. Г.&nbsp;Ярославль, 1985&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11939(2).</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/519.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/519.jpg"><img alt="" src="img/docs/thumbs/519.jpg"></a>
    <a data-title="<a href='img/docs/520.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/520.jpg"><img alt="" src="img/docs/thumbs/520.jpg"></a>
  </div>
  <div class="desc">
    <p>Первая экскурсия по&nbsp;вновь открывшемуся Музею истории города Ярославля для руководителей области.&nbsp;23&nbsp;августа 1985&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 1615. Оп.&nbsp;2. Д. 133. Фото&nbsp;5.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/521.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/521.jpg"><img alt="" src="img/docs/thumbs/521.jpg"></a>
    </div>
    <div class="desc">
      <p>Ансамбль &laquo;Барокко&raquo;. 1988&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11855б.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/522.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/522.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/522.jpg"></a>
    </div>
    <div class="desc">
      <p>Художественный руководитель театрального вуза Ф.&nbsp;Е.&nbsp;Шишигин.&nbsp;1980&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 745.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/523.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/523.jpg"><img alt="" src="img/docs/thumbs/523.jpg"></a>
    <a data-title="<a href='img/docs/524.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/524.jpg"><img alt="" src="img/docs/thumbs/524.jpg"></a>
  </div>
  <div class="desc">
    <p>Торжественное открытие театрального вуза в&nbsp;г. Ярославле.&nbsp;1980&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 1615. Оп.&nbsp;2. Д. 76. Фото&nbsp;1.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/525.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/525.jpg"><img alt="" src="img/docs/thumbs/525.jpg"></a>
    </div>
    <div class="desc">
      <p>Строительство театра юного зрителя в&nbsp;г. Ярославле. 1980-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 3043. </p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/526.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/526.jpg"><img alt="" src="img/docs/thumbs/526.jpg"></a>
    </div>
    <div class="desc">
      <p>Торжественное открытие Театра юного зрителя в&nbsp;г. Ярославле.&nbsp;1984&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 1344.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/527.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="43" href="img/docs/527.jpg"><img alt="" src="img/docs/thumbs/527.jpg"></a>
    </div>
    <div class="desc">
      <p>Театр юного зрителя в&nbsp;г. Ярославле, основанный при деятельной поддержке российского драматурга, общественного деятеля В.&nbsp;С.&nbsp;Розова.&nbsp;1984&nbsp;гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 1804.</p>
    </div>
  </div>
</div>