<h3>Общественно-политическая жизнь</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/528.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/528.jpg"><img alt="" src="img/docs/thumbs/528.jpg"></a>
    </div>
    <div class="desc">
      <p>Мэр г. Ювяскюля Якко Ловен и&nbsp;председатель Ярославского горисполкома В.&nbsp;А.&nbsp;Ковалев сажают в&nbsp;городском парке на&nbsp;берегу&nbsp;р. Которосли дерево, символизирующее дружбу породненных городов. Август 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;9799.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/530.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/530.jpg"><img alt="" src="img/docs/thumbs/530.jpg"></a>
    </div>
    <div class="desc">
      <p>VII встреча породненных городов. Г.&nbsp;Ярославль, август 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10460.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/529.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/529.jpg"><img alt="" src="img/docs/thumbs/529.jpg"></a>
    </div>
    <div class="desc">
      <p>Приветствие Совета Министров СССР участникам VII встречи представителей породненных городов СССР и&nbsp;Финляндии в&nbsp;г.&nbsp;Ярославле. Газета &laquo;Правда&raquo;, 18 августа 1983&nbsp;г.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/531.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/531.jpg"><img alt="" src="img/docs/thumbs/531.jpg"></a>
    </div>
    <div class="desc">
      <p>Эмблема VII встречи представителей породненных городов СССР и&nbsp;Финляндии. Г.&nbsp;Ярославль, август 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-1269. Оп.&nbsp;3. Д. 1782.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/532.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/532.jpg"><img alt="" src="img/docs/thumbs/532.jpg"></a>
    </div>
    <div class="desc">
      <p>Делегация профсоюзных работников Радомского воеводства (Польша) в&nbsp;Ростовском музее-заповеднике. Ноябрь 1984&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10557.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/533.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/533.jpg"><img alt="" src="img/docs/thumbs/533.jpg"></a>
    </div>
    <div class="desc">
      <p>Председатель Комитета защиты мира Грузинской ССР Отар Чхония и&nbsp;заслуженный артист Грузинской ССР Вахтанг Кикабидзе в&nbsp;Ярославском областном комитете защиты мира.&nbsp;1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-9638.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/534.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/534.jpg"><img alt="" src="img/docs/thumbs/534.jpg"></a>
    </div>
    <div class="desc">
      <p>Председатель коммунистической партии Западной Германии Герберт Мисс в&nbsp;г. Ярославле. Июнь 1982&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10435.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/535.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/535.jpg"><img alt="" src="img/docs/thumbs/535.jpg"></a>
    </div>
    <div class="desc">
      <p>Самодеятельный хор из&nbsp;г. Берлингтон (США) в&nbsp;гостях у&nbsp;ярославцев. Июль, 1984&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10568(3).</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/536.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/536.jpg"><img alt="" src="img/docs/thumbs/536.jpg"></a>
    <a data-title="<a href='img/docs/537.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/537.jpg"><img alt="" src="img/docs/thumbs/537.jpg"></a>
  </div>
  <div class="desc">
    <p>Делегация студенческого союза университета&nbsp;г. Ювяскюля (Финляндия), прибывшая на&nbsp;празднование 35-летия договора о&nbsp;дружбе и&nbsp;сотрудничестве городов Ярославля и&nbsp;Ювяскюля. Март, 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10357, П1-10357(3).</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/538.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/538.jpg"><img alt="" src="img/docs/thumbs/538.jpg"></a>
    <a data-title="<a href='img/docs/539.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/539.jpg"><img alt="" src="img/docs/thumbs/539.jpg"></a>
  </div>
  <div class="desc">
    <p>Встреча ветеранов 288-й стрелковой дивизии с&nbsp;ярославскими школьниками.&nbsp;21&nbsp;февраля 1983&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10416, П1-10416(2).</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/540.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/540.jpg"><img alt="" src="img/docs/thumbs/540.jpg"></a>
    <a data-title="<a href='img/docs/541.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/541.jpg"><img alt="" src="img/docs/thumbs/541.jpg"></a>
  </div>
  <div class="desc">
    <p>Открытие Музея боевой славы в&nbsp;г. Ярославле.&nbsp;1981&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 243.1; 243.4.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/542.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/542.jpg"><img alt="" src="img/docs/thumbs/542.jpg"></a>
    <a data-title="<a href='img/docs/543.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/543.jpg"><img alt="" src="img/docs/thumbs/543.jpg"></a>
  </div>
  <div class="desc">
    <p>Вручение первым секретарем Ярославского обкома КПСС Ф.&nbsp;И. Лощенковым ленты &laquo;Почетного гражданина Ярославской области&raquo; И.&nbsp;Д.&nbsp;Папанину, дважды Герою Советского Союза, основателю и&nbsp;первому директору Института биологии внутренних вод Академии Наук СССР (в&nbsp;п. Борок Некоузского района Ярославской области). 1982&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;9127, П1-9127(2).</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/544.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/544.jpg"><img alt="" src="img/docs/thumbs/544.jpg"></a>
    <a data-title="<a href='img/docs/545.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/545.jpg"><img alt="" src="img/docs/thumbs/545.jpg"></a>
  </div>
  <div class="desc">
    <p>Секретарь ЦК&nbsp;КПСС по&nbsp;сельскому хозяйству М.&nbsp;С.&nbsp;Горбачев в&nbsp;совхозе &laquo;Киргизстан&raquo; Ростовского района.&nbsp;1982. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2598, 2596.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/546.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/546.jpg"><img alt="" src="img/docs/thumbs/546.jpg"></a>
    </div>
    <div class="desc">
      <p>Посещение секретарем ЦК&nbsp;КПСС по&nbsp;сельскому хозяйству М.&nbsp;С.&nbsp;Горбачевым г. Ярославля и&nbsp;встреча с&nbsp;населением.&nbsp;1982&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2584.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/547.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/547.jpg"><img alt="" src="img/docs/thumbs/547.jpg"></a>
    </div>
    <div class="desc">
      <p>Посещение секретарем ЦК&nbsp;КПСС по&nbsp;сельскому хозяйству М.&nbsp;С.&nbsp;Горбачевым выставки в&nbsp;Ярославском центре научно-технической информации (ЦНТИ).1982&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 2586.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/548.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/548.jpg"><img alt="" src="img/docs/thumbs/548.jpg"></a>
    </div>
    <div class="desc">
      <p>Посещение секретарем ЦК&nbsp;КПСС по&nbsp;сельскому хозяйству М.&nbsp;С.&nbsp;Горбачевым Ярославского моторного завода и&nbsp;встреча с&nbsp;работниками завода.&nbsp;1982. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;10459.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/549.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/549.jpg"><img alt="" src="img/docs/thumbs/549.jpg"></a>
    </div>
    <div class="desc">
      <p>Участники XIII зональной межвузовской конференции возле здания Ярославского государственного университета.&nbsp;1980&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н0&mdash;8806.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/550.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/550.jpg"><img alt="" src="img/docs/thumbs/550.jpg"></a>
    </div>
    <div class="desc">
      <p>Спортивный праздник на&nbsp;стадионе &laquo;Шинник&raquo; к&nbsp;50-летию Ярославской области.&nbsp;г. Ярославль, 1986&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11927(5).</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/551.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="44" href="img/docs/551.jpg"><img alt="" src="img/docs/thumbs/551.jpg"></a>
    </div>
    <div class="desc">
      <p>Майская демонстрация 1980-го года в&nbsp;г. Угличе. Приветствие Олимпиаде-80 от&nbsp;угличан. УгФ ГАЯО.&nbsp;Ф. Р-762. Оп.&nbsp;4. Д. 1313. Л. 1.</p>
    </div>
  </div>
</div>