<h3>Виды Ярославля</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/552.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/552.jpg"><img alt="" src="img/docs/thumbs/552.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Ярославль. Советская улица. ГКУ ЯО&nbsp;ГАЯО. Коллекция фотодокументов.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/553.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/553.jpg"><img alt="" src="img/docs/thumbs/553.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Ярославль. Набережная реки Волги и&nbsp;Стрелка. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11900.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/554.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/554.jpg"><img alt="" src="img/docs/thumbs/554.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Ярославль, ул. Андропова. Здание бывшего обкома КПСС и&nbsp;часовня Александра Невского. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11941.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/555.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/555.jpg"><img alt="" src="img/docs/thumbs/555.jpg"></a>
    </div>
    <div class="desc">
      <p>г. Ярославль. Красная площадь. 1980-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11897.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/556.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/556.jpg"><img alt="" src="img/docs/thumbs/556.jpg"></a>
    </div>
    <div class="desc">
      <p>Мост через&nbsp;р. Которосль в&nbsp;г. Ярославле.&nbsp;1980&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;9159.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/557.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/557.jpg"><img alt="" src="img/docs/thumbs/557.jpg"></a>
    </div>
    <div class="desc">
      <p>Речной вокзал в&nbsp;г. Ярославле.&nbsp;1985&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11901.</p>
    </div>
  </div>
</div>

<h3>Виды Рыбинска</h3>

<div class="photo-block single">
  <div class="docs-container triple">
    <div class="imgs">
      <a data-title="<a href='img/docs/558.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/558.jpg"><img alt="" src="img/docs/thumbs/558.jpg"></a>
      <a data-title="<a href='img/docs/559.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/559.jpg"><img alt="" src="img/docs/thumbs/559.jpg"></a>
      <a data-title="<a href='img/docs/560.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/560.jpg"><img alt="" src="img/docs/thumbs/560.jpg"></a>
      <a data-title="<a href='img/docs/561.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/561.jpg"><img alt="" src="img/docs/thumbs/561.jpg"></a>
      <a data-title="<a href='img/docs/562.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="45" href="img/docs/562.jpg"><img alt="" src="img/docs/thumbs/562.jpg"></a>
    </div>
    <div class="desc">
      <p>Виды Рыбинска. РбФ ГАЯО. Опись фотоальбомов &#8470;&nbsp;1-31.</p>
    </div>
  </div>
</div>
