<h3>Промышленность</h3>

<div class="photo-block double">
  <div class="docs-container double">
    <div class="imgs">
      <a data-title="<a href='img/docs/563.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/563.jpg"><img alt="" src="img/docs/thumbs/563.jpg"></a>
      <a data-title="<a href='img/docs/564.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/564.jpg"><img alt="" src="img/docs/thumbs/564.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославский моторный завод. 2000-е гг. <a href="https://yarreg.ru/articles/34213/">ссылка 1</a>; <a href="https://kubnews.ru/ekonomika/2019/10/01/yaroslavskiy-motornyy-zavod-avtodizel-otkryvaet-firmennye-remontnye-tsentry/">ссылка 2</a>.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/565.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/565.jpg"><img alt="" src="img/docs/thumbs/565.jpg"></a>
    </div>
    <div class="desc">
      <p>Заметка о&nbsp;сборке на&nbsp;Ярославском моторном заводе четырехмиллионного дизельного двигателя, 1999&nbsp;г. Северный край. 1999. 22 октября.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/566.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/566.jpg"><img alt="" src="img/docs/thumbs/566.jpg"></a>
    </div>
    <div class="desc">
      <p>Рыбинский моторостроительный завод. 2000-е гг. <a href="https://rybinsk-once.ru/npo-saturn-v-rybinske-tak-budet-vsegda/">ссылка</a></p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/567.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/567.jpg"><img alt="" src="img/docs/thumbs/567.jpg"></a>
    </div>
    <div class="desc">
      <p>Продукция Ярославского шинного завода. <span class="nobr">1990-е</span> гг.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/568.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/568.jpg"><img alt="" src="img/docs/thumbs/568.jpg"></a>
    </div>
    <div class="desc">
      <p>Автопогрузчик, выпускавшийся Угличским ремонтно-механическим заводом.&nbsp;1992&nbsp;г. УгФ ГАЯО.&nbsp;Ф. Р-762. Оп.&nbsp;4. Д. 2138. Л. 1.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/569.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/569.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/569.jpg"></a>
    </div>
    <div class="desc">
      <p>Приказ директора Ярославской табачной фабрики о&nbsp;переименовании предприятия в&nbsp;<span class="nobr">АО &laquo;Балканская звезда&raquo;</span>. 1992&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-1370</span>. Оп. 2. Д. 1. Л. 81.</p>
    </div>
  </div>
</div>

<h3>Сельское хозяйство</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/570.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/570.jpg"><img alt="" src="img/docs/thumbs/570.jpg"></a>
    <a data-title="<a href='img/docs/571.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/571.jpg"><img alt="" src="img/docs/thumbs/571.jpg"></a>
  </div>
  <div class="desc">
    <p>Решение третьей сессии 21созыва Ярославского областного Совета народных депутатов от&nbsp;<span class="nobr">21.12.90</span> &laquo;О&nbsp;развитии крестьянских (фермерских) хозяйств в&nbsp;Ярославской области. ГКУ ЯО&nbsp;ГАЯО.Ф.<span class="nobr">Р-2380</span>. Оп.15. Д.26. Л.45&ndash;46.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/572.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/572.jpg"><img alt="" src="img/docs/thumbs/572.jpg"></a>
    <a data-title="<a href='img/docs/573.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/573.jpg"><img alt="" src="img/docs/thumbs/573.jpg"></a>
    <a data-title="<a href='img/docs/574.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/574.jpg"><img alt="" src="img/docs/thumbs/574.jpg"></a>
    <a data-title="<a href='img/docs/575.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/575.jpg"><img alt="" src="img/docs/thumbs/575.jpg"></a>
    <a data-title="<a href='img/docs/576.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/576.jpg"><img alt="" src="img/docs/thumbs/576.jpg"></a>
    <a data-title="<a href='img/docs/577.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/577.jpg"><img alt="" src="img/docs/thumbs/577.jpg"></a>
  </div>
  <div class="desc">
    <p>Сведения о&nbsp;состоянии сельского хозяйства Ярославской области к&nbsp;середине <span class="nobr">1990-х</span> гг. &laquo;Ярославской области 60 лет&raquo;. Статистический справочник. Ярославль,1996. С.92,96,97,100,102,103.</p>
  </div>
</div>

<div class="docs-container four">
  <div class="imgs">
    <a data-title="<a href='img/docs/579.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/579.jpg"><img alt="" src="img/docs/thumbs/579.jpg"></a>
    <a data-title="<a href='img/docs/580.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/580.jpg"><img alt="" src="img/docs/thumbs/580.jpg"></a>
    <a data-title="<a href='img/docs/581.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/581.jpg"><img alt="" src="img/docs/thumbs/581.jpg"></a>
    <a data-title="<a href='img/docs/582.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/582.jpg"><img alt="" src="img/docs/thumbs/582.jpg"></a>
    <a data-title="<a href='img/docs/583.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/583.jpg"><img alt="" src="img/docs/thumbs/583.jpg"></a>
    <a data-title="<a href='img/docs/584.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/584.jpg"><img alt="" src="img/docs/thumbs/584.jpg"></a>
    <a data-title="<a href='img/docs/585.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/585.jpg"><img alt="" src="img/docs/thumbs/585.jpg"></a>
  </div>
  <div class="desc">
    <p>Целевая программа стабилизации и&nbsp;развития агропромышленного производства Ярославской области на&nbsp;2001- 2003 гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.30. Д.716.Л.1,2,5,6,10&ndash;12.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/586.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/586.jpg"><img alt="" src="img/docs/thumbs/586.jpg"></a>
    <a data-title="<a href='img/docs/587.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/587.jpg"><img alt="" src="img/docs/thumbs/587.jpg"></a>
    <a data-title="<a href='img/docs/588.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/588.jpg"><img alt="" src="img/docs/thumbs/588.jpg"></a>
  </div>
  <div class="desc">
    <p>Губернаторская целевая программа &laquo;Развитие льняного комплекса Ярославской области&raquo; на&nbsp;2004&nbsp;&mdash; 2007 гг.&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>.Оп.30. Д.902.Л.1,2.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/589.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/589.jpg"><img alt="" src="img/docs/thumbs/589.jpg"></a>
    <a data-title="<a href='img/docs/590.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/590.jpg"><img alt="" src="img/docs/thumbs/590.jpg"></a>
    <a data-title="<a href='img/docs/591.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/591.jpg"><img alt="" src="img/docs/thumbs/591.jpg"></a>
    <a data-title="<a href='img/docs/592.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/592.jpg"><img alt="" src="img/docs/thumbs/592.jpg"></a>
    <a data-title="<a href='img/docs/593.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/593.jpg"><img alt="" src="img/docs/thumbs/593.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы областного агропромышленного комитета о&nbsp;работе передовых хозяйств Ярославской области за&nbsp;<span class="nobr">2003&mdash;2004 гг.</span>&nbsp;ГКУ ЯО&nbsp;ГАЯО.Ф.<span class="nobr">Р-2283</span>. Оп.30. Д.846.Л.1&ndash;4, 6.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/578.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/578.jpg"><img alt="" src="img/docs/thumbs/578.jpg"></a>
    </div>
    <div class="desc">
      <p>Целевая программа стабилизации и&nbsp;развития крестьянских (фермерских) хозяйств Ярославской области на&nbsp;<span class="nobr">2001&mdash;2005 гг.</span>&nbsp;ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-2283</span>. Оп.30. Д.716. Л.24.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/594.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/594.jpg"><img alt="" src="img/docs/thumbs/594.jpg"></a>
    </div>
    <div class="desc">
      <p>Программа &laquo;Повышение плодородия почв Ростовского муниципального округа в&nbsp;<span class="nobr">2001&mdash;2005 гг.</span>&raquo;. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2283</span>. Оп.30. Д.716.Л.152.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/595.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="49" href="img/docs/595.jpg"><img alt="" src="img/docs/thumbs/595.jpg"></a>
    </div>
    <div class="desc">
      <p>Победители районного конкурса пахарей (хозяйства &laquo;Ярославна&raquo;, &laquo;Прогресс&raquo;, &laquo;Туношна&raquo;, &laquo;Григорьевское&raquo; Ярославского района). 2003&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.Ф.<span class="nobr">Р-2283</span>. Оп.30. Д.846. Л.27.</p>
    </div>
  </div>
</div>