<h3>Волгострой</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/18.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/18.jpg"><img alt="" src="img/docs/thumbs/18.jpg"></a>
    </div>
    <div class="desc">
      <p>Карта Рыбинского и&nbsp;Угличского гидроузлов. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2703. Оп.&nbsp;2. Д. 190. Л. 8.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/28.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/28.jpg"><img alt="" src="img/docs/thumbs/28.jpg"></a>
    </div>
    <div class="desc">
      <p>Схема района расположения Угличского и&nbsp;Рыбинского гидроузлов. 25&nbsp;лет Угличской и&nbsp;Рыбинской ГЭС: Из&nbsp;опыта строительства и&nbsp;эксплуатации&nbsp;/ Под общей редакцией Героев Социалистического Труда Н.&nbsp;А. Малышева и&nbsp;М.&nbsp;М.&nbsp;Мальцева; Министерство энергетики и&nbsp;электрификации СССР, Главтехстройпроект; Всесоюзный ордена Ленина проектно-изыскательный и&nbsp;научно-исследовательский институт &laquo;ГИДРОПРОЕКТ&raquo; имени С.&nbsp;Я.&nbsp;Жука. &mdash;&nbsp;Москва; Ленинград: Издательство &laquo;Энергия&raquo;, 1967. &mdash;&nbsp;Рис. I-1.</p>
    </div>
  </div>
</div>
<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/22.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/22.jpg"><img alt="" src="img/docs/thumbs/22.jpg"></a>
    </div>
    <div class="desc">
      <p>Рыбинский шлюз в&nbsp;навигацию.&nbsp;1941&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 77. Фото&nbsp;27.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/27.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/27.jpg"><img alt="" src="img/docs/thumbs/27.jpg"></a>
    </div>
    <div class="desc">
      <p>Угличская плотина. Момент пуска весеннего половодья.&nbsp;1940&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 77. Фото&nbsp;10.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/19.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/19.jpg"><img alt="" src="img/docs/thumbs/19.jpg"></a>
    <a data-title="<a href='img/docs/20.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/20.jpg"><img alt="" src="img/docs/thumbs/20.jpg"></a>
    <a data-title="<a href='img/docs/21.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/21.jpg"><img alt="" src="img/docs/thumbs/21.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;протокола заседания Экономического совета при СНК СССР от&nbsp;28 августа 1939&nbsp;г. &laquo;О&nbsp;строительстве Рыбинского гидроузла&raquo;. ГКУ ЯО&nbsp;ГАЯО.Ф.<span class="nobr">Р-2380</span>. Оп.1. Д.86. Л.37&ndash;38.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/23.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/23.jpg"><img alt="" src="img/docs/thumbs/23.jpg"></a>
    <a data-title="<a href='img/docs/24.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/24.jpg"><img alt="" src="img/docs/thumbs/24.jpg"></a>
    <a data-title="<a href='img/docs/25.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/25.jpg"><img alt="" src="img/docs/thumbs/25.jpg"></a>
    <a data-title="<a href='img/docs/26.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/26.jpg"><img alt="" src="img/docs/thumbs/26.jpg"></a>
  </div>
  <div class="desc">
    <p>На&nbsp;строительстве Рыбинской и&nbsp;Угличской гидроэлектростанций. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись фотоальбомов. Ед.&nbsp;хр.&nbsp;214.</p>
  </div>
</div>