<h3>Культура</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/596.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/596.jpg"><img alt="" src="img/docs/thumbs/596.jpg"></a>
    </div>
    <div class="desc">
      <p>Представители администрации Ярославской области и&nbsp;Архиепископ Ярославский и&nbsp;Ростовский Михей встречают Патриарха Московского и&nbsp;всея Руси Алексия, прибывшего на&nbsp;празднование 680-летия Толгского монастыря.&nbsp;1994&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11907.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/599.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/599.jpg"><img alt="" src="img/docs/thumbs/599.jpg"></a>
    </div>
    <div class="desc">
      <p>Советник по&nbsp;особым поручениям при Президенте РФ&nbsp;А.&nbsp;Н. Яковлев и&nbsp;кинорежиссер Н.&nbsp;С.&nbsp;Михалков в&nbsp;Толгском монастыре.&nbsp;1994&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11905.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/600.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/600.jpg"><img alt="" src="img/docs/thumbs/600.jpg"></a>
    </div>
    <div class="desc">
      <p>Председатель правительства Российской Федерации В.&nbsp;К. Черномырдин на&nbsp;праздновании 680-летия Толгского монастыря. Ярославль, 23&nbsp;августа 1994&nbsp;г. ГКУ ЯО&nbsp;ГАЯО Опись позитивов. П1&mdash;11906.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/597.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/597.jpg"><img alt="" src="img/docs/thumbs/597.jpg"></a>
    <a data-title="<a href='img/docs/598.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/598.jpg"><img alt="" src="img/docs/thumbs/598.jpg"></a>
  </div>
  <div class="desc">
    <p>Председатель Правительства РФ&nbsp;В.&nbsp;С. Черномырдин, глава администрации Ярославской области А.&nbsp;И.&nbsp;Лисицын, мэр&nbsp;г. Ярославля В.&nbsp;В. Волончунас и&nbsp;Патриарх Московский и&nbsp;всея Руси Алексий в&nbsp;Толгском монастыре.&nbsp;1994&nbsp;г. ЦДНИ ГАЯО. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;11904.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/601.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/601.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/601.jpg"></a>
    <a data-title="<a href='img/docs/602.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/602.jpg"><img alt="" src="img/docs/thumbs/602.jpg"></a>
  </div>
  <div class="desc">
    <p>Карта литературного наследия Гаврилов&nbsp;&mdash; Ямского района Ярославской области &laquo;Книга в&nbsp;интерьере времени&raquo; (грант Губернатора <span class="nobr">А. И. Лисицына</span> 2006&nbsp;г.). ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.611. Л.11, 19об.-20.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/603.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/603.jpg"><img alt="" src="img/docs/thumbs/603.jpg"></a>
    <a data-title="<a href='img/docs/604.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/604.jpg"><img alt="" src="img/docs/thumbs/604.jpg"></a>
  </div>
  <div class="desc">
    <p>Буклет этнографического музея кацкарей в&nbsp;деревне Мартыново Мышкинского района Ярославской области (развитие музея проходило в&nbsp;рамках реализации проекта &laquo;Издание Николо&nbsp;&mdash; Топорской летописи&raquo;, грант Губернатора <span class="nobr">А. И. Лисицына</span> 2006&nbsp;г.). ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.611. Л.55, 60об.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/605.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/605.jpg"><img alt="" src="img/docs/thumbs/605.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановление Губернатора Ярославской области от&nbsp;<span class="nobr">13.08.2007</span> &#8470;&nbsp;747 &laquo;Об&nbsp;учреждении грантов Губернатора области в&nbsp;сфере культуры и&nbsp;искусства&hellip;&raquo;. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.850. Л.1.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/606.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/606.jpg"><img alt="" src="img/docs/thumbs/606.jpg"></a>
    <a data-title="<a href='img/docs/607.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/607.jpg"><img alt="" src="img/docs/thumbs/607.jpg"></a>
    <a data-title="<a href='img/docs/608.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/608.jpg"><img alt="" src="img/docs/thumbs/608.jpg"></a>
  </div>
  <div class="desc">
    <p>Интерьер музея истории романовского овцеводства &laquo;Царская овца&raquo;, открытого 6 августа 2006&nbsp;г. в&nbsp;г.&nbsp;Тутаеве (грант Губернатора <span class="nobr">А. И. Лисицына</span> 2006&nbsp;г.). ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.611. Л.79&nbsp;&mdash; 81.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/609.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/609.jpg"><img alt="" src="img/docs/thumbs/609.jpg"></a>
    <a data-title="<a href='img/docs/610.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/610.jpg"><img alt="" src="img/docs/thumbs/610.jpg"></a>
  </div>
  <div class="desc">
    <p><span class="nobr">В. В. Мишин</span>, <span class="nobr">мастер-модельщик</span> &laquo;Центра народного творчества&raquo; г.&nbsp;Рыбинска и&nbsp;<span class="nobr">М. Ю. Канашина</span>, <span class="nobr">художник-керамист</span> <span class="nobr">ООО &laquo;СИНТЕК-Синтез технологий&raquo;</span>, участники проекта &laquo;Глиняное воплощение красоты&raquo; (грант Губернатора <span class="nobr">А. И. Лисицына</span> 2006&nbsp;г.). ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.850. Л.168, 169.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/611.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/611.jpg"><img alt="" src="img/docs/thumbs/611.jpg"></a>
  </div>
  <div class="desc">
    <p>Дети на&nbsp;спектакле Рыбинского театра кукол (проект &laquo;Мир сказок&nbsp;&mdash; детям&raquo;, грант Губернатора <span class="nobr">А. И. Лисицына</span> 2006&nbsp;г.). ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.611. Л.104.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/612.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/612.jpg"><img alt="" src="img/docs/thumbs/612.jpg"></a>
    <a data-title="<a href='img/docs/613.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/613.jpg"><img alt="" src="img/docs/thumbs/613.jpg"></a>
    <a data-title="<a href='img/docs/614.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/614.jpg"><img alt="" src="img/docs/thumbs/614.jpg"></a>
  </div>
  <div class="desc">
    <p>Открытие памятника князю Ярославу Мудрому на&nbsp;Богоявленской площади&nbsp;г. Ярославля. Присутствует президент Российской Федерации Б.&nbsp;Н. Ельцин.&nbsp;23&nbsp;октября 1993&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;1. Д. 1001.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/615.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/615.jpg"><img alt="" src="img/docs/thumbs/615.jpg"></a>
  </div>
  <div class="desc">
    <p>Программа фестиваля &laquo;Парад губернаторских звезд&raquo;. 2001&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2340. Оп.&nbsp;1. Д. 540. Л. 1.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/616.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/616.jpg"><img alt="" src="img/docs/thumbs/616.jpg"></a>
    <a data-title="<a href='img/docs/617.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/617.jpg"><img alt="" src="img/docs/thumbs/617.jpg"></a>
    <a data-title="<a href='img/docs/618.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="50" href="img/docs/618.jpg"><img alt="" src="img/docs/thumbs/618.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановление Губернатора Ярославской области от&nbsp;<span class="nobr">21.05.1996</span> &#8470;&nbsp;271 о&nbsp;присвоении статуса &laquo;Губернаторский&raquo; симфоническому оркестру Ярославской областной филармонии. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-817</span>. Оп.5. Д.269. Л.76, 76об.</p>
  </div>
</div>