<h3>Общественно-политическая жизнь</h3>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/619.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/619.jpg"><img alt="" src="img/docs/thumbs/619.jpg"></a>
    <a data-title="<a href='img/docs/620.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/620.jpg"><img alt="" src="img/docs/thumbs/620.jpg"></a>
  </div>
  <div class="desc">
    <p>Митинги в&nbsp;Ярославле, направленные против ухудшения социально-экономического положения населения. Конец 1980-х-начало 1990-х гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-11875.</p>
  </div>
</div>

<h3>Международное и&nbsp;внешнеэкономическое сотрудничество</h3>
<p>Основной целью участия Ярославской области в&nbsp;международном сотрудничестве является повышение уровня конкурентоспособности региона и&nbsp;входящих в&nbsp;его состав городов, укрепление его позиций в&nbsp;национальных и&nbsp;интернациональных масштабах на&nbsp;основе использования многообразных вариантов партнерства с&nbsp;зарубежными странами, регионами, организациями, предприятиями, гражданами.</p>
<p>Ярославская область имеет 29 соглашений о&nbsp;<span class="nobr">торгово-экономическом</span> и&nbsp;культурном сотрудничестве с&nbsp;14 странами.</p>
<p>Наиболее крепкие деловые и&nbsp;культурные отношения сложились со&nbsp;странами СНГ&nbsp;&mdash; Республикой Беларусь, Украиной, Узбекистаном, Казахстаном, Киргизстаном. Основные партнеры в&nbsp;Европе&nbsp;&mdash; Германия, Великобритания, в&nbsp;<span class="nobr">Азиатско-Тихоокеанском</span> регионе&nbsp;&mdash; Вьетнам, Китай, в&nbsp;странах Балтийского региона&nbsp;&mdash; Литва, Эстония, Польша.</p>
<p>Важным направлением международной политики Ярославской области остается сотрудничество с&nbsp;международными организациями по&nbsp;программам ЕС, ЕБРР в&nbsp;области экономики, культуры и&nbsp;гуманитарных связей. Основным направлением сотрудничества области с&nbsp;Европейским Союзом является участие в&nbsp;проектах программы &laquo;ТАСIS&raquo;. Начиная с&nbsp;1991 года, в&nbsp;рамках программы реализовано более 20 проектов по&nbsp;вопросам агропромышленного комплекса, пищевой и&nbsp;перерабатывающей промышленности, потребительского рынка, системы образования.</p>
<p>Ярославская область активно развивает связи с&nbsp;<span class="nobr">городами-побратимами</span>. В&nbsp;частности, впервые в&nbsp;России, при содействии Британского Совета и&nbsp;Посольства Великобритании и&nbsp;Северной Ирландии, в&nbsp;Ярославле организовано &laquo;Английское подворье&raquo;, в&nbsp;2003 году открыт Дом дружбы с&nbsp;Францией &laquo;Ярославль&nbsp;&mdash; Пуатье&raquo;.</p>
<p>В&nbsp;Ярославской области успешно работает Бюро по&nbsp;кооперации Гессен (Германия)&nbsp;&mdash; Ярославская область. Сегодня эффективность сотрудничества Ярославской области и&nbsp;земли Гессен стала примером для многих российских регионов и&nbsp;немецких земель. Задача власти&nbsp;&mdash; создание условий для полноправного партнерства.</p>
<p>Ярославская область обладает всеми необходимыми предпосылками для расширения международного межрегионального сотрудничества, укрепления климата добрососедства и&nbsp;партнерства.</p>
<p>Одним из&nbsp;традиционно важных направлений внешнеэкономической деятельности Ярославской области является развитие экспорта.</p>
<p>Среди инструментов содействия развитию экспортного потенциала региона важно отметить создание системы представительств области в&nbsp;зарубежных государствах&nbsp;&mdash; Республике Беларусь, Литве, Эстонии, Польше и&nbsp;Узбекистане.</p>
<p>В&nbsp;1999 году в&nbsp;целях развития и&nbsp;совершенствования внешнеэкономических связей Ярославской области, создания условий, способствующих ускорению движения внешнеторговых потоков, был создан Консультативный Совет по&nbsp;работе с&nbsp;участниками внешнеэкономических связей при Губернаторе области.</p>
<p>Ярославская область постоянно расширяет <span class="nobr">торгово-экономические</span> связи со&nbsp;странами ближнего и&nbsp;дальнего зарубежья.</p>
<p>Внешнеэкономическая деятельность представлена торговлей с&nbsp;компаниями из&nbsp;93 стран мира. В&nbsp;торговле с&nbsp;зарубежными партнерами в&nbsp;2005 году принимали участие более 540 ярославских предприятий и&nbsp;организаций. Годовой товарооборот за&nbsp;2006 год составил 878,1&nbsp;млн.&nbsp;долларов.</p>
<p>Большая часть внешнеторгового оборота области приходится на&nbsp;страны СНГ, их&nbsp;доля в&nbsp;2006 году составила 57,5% в&nbsp;общем обороте.</p>
<p>Доля товарооборота со&nbsp;странами дальнего зарубежья составляет 42,5% от&nbsp;всего внешнеторгового оборота области.</p>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/621.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/621.jpg"><img alt="" src="img/docs/thumbs/621.jpg"></a>
    </div>
    <div class="desc">
      <p>Член Совета Федерации <span class="nobr">Р. Г. Абдулатипов</span> на&nbsp;заседании Ярославского регионального отделения Общероссийской общественной организации &laquo;Ассамблея народов России&raquo;. Г.&nbsp;Ярославль, 2002&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-700</span>. Оп.5. Д.36. Л.125.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/622.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/622.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/622.jpg"></a>
    </div>
    <div class="desc">
      <p>Встреча Президента Республики Беларусь А. Лукашенко с&nbsp;губернатором Ярославской области А.&nbsp;И.&nbsp;Лисицыным и&nbsp;представителями ОАО &laquo;Автодизель&raquo;. 1990-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 1409. Оп.&nbsp;4. Д. 78.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/623.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/623.jpg"><img alt="" src="img/docs/thumbs/623.jpg"></a>
    <a data-title="<a href='img/docs/624.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/624.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/624.jpg"></a>
  </div>
  <div class="desc">
    <p>Приглашение и&nbsp;диплом участника национальной выставки Республики Беларусь. Г.&nbsp;Ярославль, февраль 2005&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-700</span>. Оп.5. Д.41. Л.276.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/625.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/625.jpg"><img alt="" src="img/docs/thumbs/625.jpg"></a>
    <a data-title="<a href='img/docs/626.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/626.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/626.jpg"></a>
  </div>
  <div class="desc">
    <p>Приглашение и&nbsp;проспект <span class="nobr">российско-белорусской</span> выставки &laquo;Загородный дом&nbsp;&mdash; 2007&raquo;. Ярославль, апрель 2007&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-700</span>. Оп.5. Д.45. Л.81, 82.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/627.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/627.jpg"><img alt="" src="img/docs/thumbs/627.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославские ветераны Великой Отечественной войны, участвовавшие в&nbsp;наступательной операции советских войск &laquo;Багратион&raquo; летом 1944&nbsp;г., после вручения юбилейной медали в&nbsp;честь освобождения Белоруссии от&nbsp;<span class="nobr">немецко-фашистских</span> захватчиков. Г.&nbsp;Ярославль, 16 октября 2004&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-700</span>. Оп.5. Д.36. Л.195.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/628.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/628.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/628.jpg"></a>
    </div>
    <div class="desc">
      <p>Информация о&nbsp;партнерстве между Ярославской областью и&nbsp;землей Гессен (Германия) в&nbsp;<span class="nobr">1991&mdash;1993 гг.</span>, подготовленная в&nbsp;Бюро по&nbsp;кооперации Гессен&nbsp;&mdash; Ярославская область. 11 сентября 2003&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-700</span>. Оп.1. Д.1433. Л.30.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/629.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/629.jpg"><img alt="" src="img/docs/thumbs/629.jpg"></a>
    <a data-title="<a href='img/docs/630.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/630.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/630.jpg"></a>
  </div>
  <div class="desc">
    <p>Романовы. Посещение г. Углича великой княгиней Марией Владимировной и&nbsp;её&nbsp;сыном князем Георгием.&nbsp;1993&nbsp;г. УгФ ГАЯО.&nbsp;Ф. Р-762. Оп.&nbsp;4. Д. 795. Л. 1; ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-700. Оп.&nbsp;1. Д. 116. Л. 121.</p>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/631.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/631.jpg"><img alt="" src="img/docs/thumbs/631.jpg"></a>
    <a data-title="<a href='img/docs/632.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/632.jpg"><img alt="" src="img/docs/thumbs/632.jpg"></a>
    <a data-title="<a href='img/docs/633.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/633.jpg"><img alt="" src="img/docs/thumbs/633.jpg"></a>
  </div>
  <div class="desc">
    <p>Приглашение и&nbsp;расписание игр международного турнира по&nbsp;гандболу среди женских команд на&nbsp;приз <span class="nobr">В. В. Терешковой</span>. Г.&nbsp;Ярославль, март 2006&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.<span class="nobr">Р-700</span>. Оп.5. Д.32. Л.139.</p>
  </div>
</div>

<hr />

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/636.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/636.jpg"><img alt="" src="img/docs/thumbs/636.jpg"></a>
    </div>
    <div class="desc">
      <p>Губернатор Ярославской области А.&nbsp;И.&nbsp;Лисицын и&nbsp;мэр&nbsp;г. Ярославля В.&nbsp;В. Волончунас. Начало 2000-х гг. ЦДНИ ГАЯО.&nbsp;Ф. 1409. Оп.&nbsp;4. Д. 147. </p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/637.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/637.jpg"><img alt="" src="img/docs/thumbs/637.jpg"></a>
    </div>
    <div class="desc">
      <p>Указ Президента Российской Федерации Б. Ельцина о&nbsp;назначении Главой администрации Ярославской области А.&nbsp;И.&nbsp;Лисицина. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-700. Оп.&nbsp;2. Д. 6. Л. 80.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/642.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/642.jpg"><img alt="" src="img/docs/thumbs/642.jpg"></a>
    <a data-title="<a href='img/docs/643.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/643.jpg"><img alt="" src="img/docs/thumbs/643.jpg"></a>
  </div>
  <div class="desc">
    <p>Председатель правительства Российской Федерации В.&nbsp;С. Черномырдин на&nbsp;Ярославском моторном заводе.&nbsp;24&nbsp;августа 1994&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 1409. Оп.&nbsp;4. Д. 22. </p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/644.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/644.jpg"><img style="max-width: 45%;" alt="" src="img/docs/thumbs/644.jpg"></a>
    </div>
    <div class="desc">
      <p>Патриарх Московский и&nbsp;всея Руси Алексий II&nbsp;и&nbsp;губернатор Ярославской области А.&nbsp;И.&nbsp;Лисицин у&nbsp;Крестобогородской церкви&nbsp;г. Ярославля.&nbsp;20&nbsp;августа 1997&nbsp;г. ЦДНИ ГАЯО.&nbsp;Ф. 1409. Оп.&nbsp;4. Д. 798.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/645.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/645.jpg"><img alt="" src="img/docs/thumbs/645.jpg"></a>
    </div>
    <div class="desc">
      <p>Освящение Патриархом Московским и&nbsp;всея Руси Алексием II&nbsp;креста для центрального купола Крестовоздвиженского храма Толгского монастыря.&nbsp;20&nbsp;августа 1997. ЦДНИ ГАЯО.&nbsp;Ф. 1409. Оп.&nbsp;4. Д. 781.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/646.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/646.jpg"><img alt="" src="img/docs/thumbs/646.jpg"></a>
    <a data-title="<a href='img/docs/647.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/647.jpg"><img alt="" src="img/docs/thumbs/647.jpg"></a>
    <a data-title="<a href='img/docs/648.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/648.jpg"><img alt="" src="img/docs/thumbs/648.jpg"></a>
    <a data-title="<a href='img/docs/649.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/649.jpg"><img alt="" src="img/docs/thumbs/649.jpg"></a>
    <a data-title="<a href='img/docs/650.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/650.jpg"><img alt="" src="img/docs/thumbs/650.jpg"></a>
    <a data-title="<a href='img/docs/651.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/651.jpg"><img alt="" src="img/docs/thumbs/651.jpg"></a>
    <a data-title="<a href='img/docs/652.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/652.jpg"><img alt="" src="img/docs/thumbs/652.jpg"></a>
    <a data-title="<a href='img/docs/653.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/653.jpg"><img alt="" src="img/docs/thumbs/653.jpg"></a>
    <a data-title="<a href='img/docs/654.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/654.jpg"><img alt="" src="img/docs/thumbs/654.jpg"></a>
  </div>
  <div class="desc">
    <p>Указы Президента Российской Федерации о&nbsp;проведении реформы представительных органов власти и&nbsp;органов местного самоуправления, об&nbsp;основных началах организации государственной власти в&nbsp;субъектах Российской Федерации. 1993&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-700</span>. Оп.2. Д.15. Л.76 и&nbsp;об., 130&ndash;133.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/655.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/655.jpg"><img alt="" src="img/docs/thumbs/655.jpg"></a>
    <a data-title="<a href='img/docs/656.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/656.jpg"><img alt="" src="img/docs/thumbs/656.jpg"></a>
    <a data-title="<a href='img/docs/657.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/657.jpg"><img alt="" src="img/docs/thumbs/657.jpg"></a>
    <a data-title="<a href='img/docs/658.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/658.jpg"><img alt="" src="img/docs/thumbs/658.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановления Главы администрации Ярославской области <span class="nobr">А. И. Лисицына</span> о&nbsp;реформе представительных органов власти и&nbsp;органов местного самоуправления в&nbsp;Ярославской области. 1993&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-700</span>. Оп.1. Д.84. Л.21&ndash;22, 80&ndash;81.</p>
  </div>
</div>

<div class="docs-container four">
  <div class="imgs">
    <a data-title="<a href='img/docs/659.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/659.jpg"><img alt="" src="img/docs/thumbs/659.jpg"></a>
    <a data-title="<a href='img/docs/660.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/660.jpg"><img alt="" src="img/docs/thumbs/660.jpg"></a>
    <a data-title="<a href='img/docs/661.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/661.jpg"><img alt="" src="img/docs/thumbs/661.jpg"></a>
    <a data-title="<a href='img/docs/662.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/662.jpg"><img alt="" src="img/docs/thumbs/662.jpg"></a>
    <a data-title="<a href='img/docs/663.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/663.jpg"><img alt="" src="img/docs/thumbs/663.jpg"></a>
    <a data-title="<a href='img/docs/664.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/664.jpg"><img alt="" src="img/docs/thumbs/664.jpg"></a>
    <a data-title="<a href='img/docs/665.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/665.jpg"><img alt="" src="img/docs/thumbs/665.jpg"></a>
    <a data-title="<a href='img/docs/666.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/666.jpg"><img alt="" src="img/docs/thumbs/666.jpg"></a>
    <a data-title="<a href='img/docs/667.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/667.jpg"><img alt="" src="img/docs/thumbs/667.jpg"></a>
    <a data-title="<a href='img/docs/668.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/668.jpg"><img alt="" src="img/docs/thumbs/668.jpg"></a>
    <a data-title="<a href='img/docs/669.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/669.jpg"><img alt="" src="img/docs/thumbs/669.jpg"></a>
    <a data-title="<a href='img/docs/670.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/670.jpg"><img alt="" src="img/docs/thumbs/670.jpg"></a>
    <a data-title="<a href='img/docs/671.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/671.jpg"><img alt="" src="img/docs/thumbs/671.jpg"></a>
    <a data-title="<a href='img/docs/672.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/672.jpg"><img alt="" src="img/docs/thumbs/672.jpg"></a>
  </div>
  <div class="desc">
    <p>Документы первого заседания Государственной Думы Ярославской области первого созыва. 29&nbsp;марта 1994&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф.1202. Оп. 1. Д. 1. Л.3&ndash;7, 11&ndash;13, 16&ndash;20, 26.</p>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/673.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="51" href="img/docs/673.jpg"><img alt="" src="img/docs/thumbs/673.jpg"></a>
  </div>
  <div class="desc">
    <p>Депутаты Государственной Думы Ярославской области первого созыва (1994&ndash;1996&nbsp;гг.). ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1&mdash;17562.</p>
  </div>
</div>