<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/29.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/29.jpg"><img style="max-width: 25%;" alt="" src="img/docs/thumbs/29.jpg"></a>
  </div>
  <div class="desc">
    <p>Заржицкий Григорий Григорьевич, председатель Организационного комитета Президиума ВЦИК по&nbsp;Ярославской области, затем&nbsp;&mdash; первый председатель Ярославского облисполкома (март 1936 июнь 1937&nbsp;г.). Осужден к&nbsp;высшей мере наказания за&nbsp;&laquo;руководство повстанческо-террористической организацией правых, подготовку вооруженного восстания против советской власти, подрывную работу по&nbsp;развалу колхозов&raquo;. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-1718а.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/30.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/30.jpg"><img alt="" src="img/docs/thumbs/30.jpg"></a>
    <a data-title="<a href='img/docs/31.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/31.jpg"><img alt="" src="img/docs/thumbs/31.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;протокола заседания Оргкомитета ВЦИК по&nbsp;Ярославской области о&nbsp;размещении оргкомитета, утверждении штатов и&nbsp;<span class="nobr">административно-управленческих</span> расходов по&nbsp;областному аппарату. 27&nbsp;марта 1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2380</span>. Оп.2. Д.1. Л.1,3.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/32.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/32.jpg"><img alt="" src="img/docs/thumbs/32.jpg"></a>
    <a data-title="<a href='img/docs/33.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/33.jpg"><img alt="" src="img/docs/thumbs/33.jpg"></a>
  </div>
  <div class="desc">
    <p>Здание бывших присутственных мест в&nbsp;г. Ярославле, где располагался Ярославский облисполком в&nbsp;1936&ndash;1991&nbsp;гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-5956, П1-6302.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/34.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/34.jpg"><img alt="" src="img/docs/thumbs/34.jpg"></a>
    </div>
    <div class="desc">
      <p>Карта нового промышленного строительства Ивановской промышленной области (до&nbsp;ее&nbsp;разделения на&nbsp;Ивановскую, Владимирскую, Ярославскую области). 1933&nbsp;г. Районы Ивановской промышленной области. Ч. 2. Атлас картограмм и&nbsp;карт&nbsp;&mdash; Москва-Иваново: Ивановское областное государственное издательство, 1933. &mdash;&nbsp;Картограмма &#8470;&nbsp;12.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/35.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/35.jpg"><img alt="" src="img/docs/thumbs/35.jpg"></a>
    </div>
    <div class="desc">
      <p>Карта Ярославской области.&nbsp;1936&nbsp;&mdash; 1944&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2283. Оп.&nbsp;1. Д. 75. Л. 1.</p>
    </div>
  </div>
</div>

<div class="docs-container single">
  <div class="imgs">
    <a data-title="<a href='img/docs/41.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/41.jpg"><img alt="" src="img/docs/thumbs/41.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановление Президиума ВЦИК &laquo;Об&nbsp;образовании Организационного комитета ВЦИК по&nbsp;Ярославской области&raquo;. 17&nbsp;марта 1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;1. Д. 1. Л. 261.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/42.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/42.jpg"><img alt="" src="img/docs/thumbs/42.jpg"></a>
    <a data-title="<a href='img/docs/43.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/43.jpg"><img alt="" src="img/docs/thumbs/43.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;протокола заседания Президиума ВЦИК о&nbsp;результатах опроса членов Президиума ВЦИК от&nbsp;11&nbsp;марта 1936&nbsp;г.&nbsp;о&nbsp;разделении Ивановской промышленной области.&nbsp;20&nbsp;марта 1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;1. Д. 1. Л. 250, 252.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/51.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/51.jpg"><img alt="" src="img/docs/thumbs/51.jpg"></a>
    <a data-title="<a href='img/docs/52.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/52.jpg"><img alt="" src="img/docs/thumbs/52.jpg"></a>
  </div>
  <div class="desc">
    <p>Письмо председателя Ярославского облисполкома в&nbsp;Совнарком СССР о&nbsp;необходимости проведения неотложных мероприятий в&nbsp;области промышленного и&nbsp;социального развития Ярославской области.&nbsp;1939&nbsp;г. Фрагмент. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-2380. Оп.&nbsp;3. Д. 4. Л. 135, 137.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/72.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/72.jpg"><img alt="" src="img/docs/thumbs/72.jpg"></a>
    <a data-title="<a href='img/docs/73.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/73.jpg"><img alt="" src="img/docs/thumbs/73.jpg"></a>
  </div>
  <div class="desc">
    <p>Постановление ВЦИК РСФСР от&nbsp;11&nbsp;марта 1936&nbsp;г. &laquo;О&nbsp;разделении Ивановской промышленной области&raquo;. СУ, 1936. &#8470;&nbsp;12. Ст.73.</p>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/94.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/94.jpg"><img alt="" src="img/docs/thumbs/94.jpg"></a>
    <a data-title="<a href='img/docs/95.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/95.jpg"><img alt="" src="img/docs/thumbs/95.jpg"></a>
  </div>
  <div class="desc">
    <p>Из&nbsp;протокола заседания 1 областного съезда Советов рабочих, крестьянских и&nbsp;красноармейских депутатов Ярославской области. <span class="nobr">12&mdash;15 ноября</span> 1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Ф. <span class="nobr">Р-2380</span>. Оп.2. Д.4. Л.1и об.</p>
  </div>
</div>