<h3>ОСОАВИАХИМ</h3>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/44.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/44.jpg"><img alt="" src="img/docs/thumbs/44.jpg"></a>
    </div>
    <div class="desc">
      <p>Отчет председателя Сталинского райисполкома в&nbsp;Ярославский горисполком о&nbsp;количестве первичных организаций общества Красного Креста на&nbsp;1&nbsp;января 1941&nbsp;г.&nbsp;12&nbsp;февраля 1941&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-1269. Оп.&nbsp;3. Д. 73. Л. 127.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/45.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/45.jpg"><img alt="" src="img/docs/thumbs/45.jpg"></a>
    </div>
    <div class="desc">
      <p>Занятия в&nbsp;Ярославском аэроклубе.&nbsp;1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2680.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/46.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/46.jpg"><img alt="" src="img/docs/thumbs/46.jpg"></a>
    </div>
    <div class="desc">
      <p>Домохозяйки&nbsp;&mdash; осовиахимовцы на&nbsp;занятиях кружков ГСО. 1939. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2591.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/47.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/47.jpg"><img alt="" src="img/docs/thumbs/47.jpg"></a>
    </div>
    <div class="desc">
      <p>Группа призывников&nbsp;&mdash; комсомольцев Волгостроя, сдавших нормы на&nbsp;оборонные значки.&nbsp;1939. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2546.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/48.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/48.jpg"><img alt="" src="img/docs/thumbs/48.jpg"></a>
    </div>
    <div class="desc">
      <p>Работники депо станции Ярославль на&nbsp;учебных занятиях за&nbsp;разбором пулемета.&nbsp;1938. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2339.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/49.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/49.jpg"><img alt="" src="img/docs/thumbs/49.jpg"></a>
    <a data-title="<a href='img/docs/50.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="4" href="img/docs/50.jpg"><img alt="" src="img/docs/thumbs/50.jpg"></a>
  </div>
  <div class="desc">
    <p>Летчики&nbsp;&mdash; выпускники Ярославского аэроклуба знакомят членов аэроклуба с&nbsp;конструкцией мотора самолета.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2583, П1-2588.</p>
  </div>
</div>