<h3>Политическая жизнь</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/53.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/53.jpg"><img alt="" src="img/docs/thumbs/53.jpg"></a>
    </div>
    <div class="desc">
      <p>Выступление ансамбля художественной самодеятельности комбината &laquo;Красный Перекоп&raquo; на&nbsp;Первомайской демонстрации. Г.&nbsp;Ярославль.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2552.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/54.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/54.jpg"><img alt="" src="img/docs/thumbs/54.jpg"></a>
    </div>
    <div class="desc">
      <p>Воинские части на&nbsp;первомайском параде. Г.&nbsp;Ярославль.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2552.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/56.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/56.jpg"><img alt="" src="img/docs/thumbs/56.jpg"></a>
    <a data-title="<a href='img/docs/57.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/57.jpg"><img alt="" src="img/docs/thumbs/57.jpg"></a>
    <a data-title="<a href='img/docs/59.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/59.jpg"><img alt="" src="img/docs/thumbs/59.jpg"></a>
  </div>
  <div class="desc">
    <p>Празднование Дня Конституции в&nbsp;г. Рыбинске.&nbsp;1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П3-33, П3-36, П3-39.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/60.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/60.jpg"><img alt="" src="img/docs/thumbs/60.jpg"></a>
    </div>
    <div class="desc">
      <p>Летчики Осоавиахима. Г.&nbsp;Ярославль.&nbsp;1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2587.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/61.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/61.jpg"><img alt="" src="img/docs/thumbs/61.jpg"></a>
    </div>
    <div class="desc">
      <p>Выпуск курсантов советского строительства при секторе кадров облисполкома.&nbsp;г. Любим. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-11825.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/62.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/62.jpg"><img alt="" src="img/docs/thumbs/62.jpg"></a>
    </div>
    <div class="desc">
      <p>Демонстрация в&nbsp;г. Рыбинске, вызванная событиями в&nbsp;Испании.&nbsp;1936&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись негативов. Н4-750.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/63.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/63.jpg"><img alt="" src="img/docs/thumbs/63.jpg"></a>
    </div>
    <div class="desc">
      <p>Беседа о&nbsp;новой Конституции СССР в&nbsp;школе &#8470;&nbsp;37&nbsp;г. Ярославля.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2492.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/64.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/64.jpg"><img alt="" src="img/docs/thumbs/64.jpg"></a>
    </div>
    <div class="desc">
      <p>Политзанятия железнодорожников&nbsp;&mdash; допризывников.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2862.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/65.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/65.jpg"><img alt="" src="img/docs/thumbs/65.jpg"></a>
    </div>
    <div class="desc">
      <p>Проведение политинформации с&nbsp;работниками МТС Некоузского района.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Хранилище АВД. П1-1988.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/66.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/66.jpg"><img alt="" src="img/docs/thumbs/66.jpg"></a>
    </div>
    <div class="desc">
      <p>Начальник строительства Рыбинского гидроузла орденоносец Д.&nbsp;Захаров беседует о&nbsp;выборах в&nbsp;местные Советы с&nbsp;группой инженерно-технических работников.&nbsp;1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2446.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/67.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/67.jpg"><img alt="" src="img/docs/thumbs/67.jpg"></a>
    </div>
    <div class="desc">
      <p>Рабочие-стахановцы Ярославского шинного завода за&nbsp;проверкой облигаций займа 2-й пятилетки.&nbsp;1937. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2543.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/68.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/68.jpg"><img alt="" src="img/docs/thumbs/68.jpg"></a>
    </div>
    <div class="desc">
      <p>Колонна трудящихся резино-асбестового комбината на&nbsp;первомайской демонстрации. Г.&nbsp;Ярославль.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2021.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/69.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/69.jpg"><img alt="" src="img/docs/thumbs/69.jpg"></a>
    </div>
    <div class="desc">
      <p>Колонна Осоавиахима на&nbsp;демонстрации, посвященной XX-ой годовщине Великой Октябрьской революции. Г.&nbsp;Ярославль.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2557.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/71.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="7" href="img/docs/71.jpg"><img alt="" src="img/docs/thumbs/71.jpg"></a>
    </div>
    <div class="desc">
      <p>Физкультурники спортивного общества &laquo;Спартак&raquo; на&nbsp;первомайской демонстрации. Г.&nbsp;Ярославль.&nbsp;1938&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2551.</p>
    </div>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/36.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="5" href="img/docs/36.jpg"><img alt="" src="img/docs/thumbs/36.jpg"></a>
    </div>
    <div class="desc">
      <p>Врачи Ярославской железнодорожной больницы изучают положение о&nbsp;выборах в&nbsp;Верховный Совет СССР. 1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2500.</p>
    </div>
  </div>
</div>