<h3>Промышленные предприятия</h3>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/74.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/74.jpg"><img style="max-width: 50%;" alt="" src="img/docs/thumbs/74.jpg"></a>
    </div>
    <div class="desc">
      <p>Дежурная станции Всполье В. Светикова.&nbsp;1940&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2352.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/75.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/75.jpg"><img alt="" src="img/docs/thumbs/75.jpg"></a>
    </div>
    <div class="desc">
      <p>В&nbsp;цехе Ярославского завода СК-1. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2627.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/76.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/76.jpg"><img alt="" src="img/docs/thumbs/76.jpg"></a>
    <a data-title="<a href='img/docs/77.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/77.jpg"><img alt="" src="img/docs/thumbs/77.jpg"></a>
  </div>
  <div class="desc">
    <p>В&nbsp;цехах Ярославской кордной фабрики. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2715.</p>
  </div>
</div>

<div class="photo-block triple">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/78.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/78.jpg"><img alt="" src="img/docs/thumbs/78.jpg"></a>
    </div>
    <div class="desc">
      <p>Механический цех Ярославского судостроительного завода. 1930-е гг. ЦДНИ ГАЯО.&nbsp;Ф. 7302. Оп.&nbsp;2. Д. 70.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/80.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/80.jpg"><img alt="" src="img/docs/thumbs/80.jpg"></a>
    </div>
    <div class="desc">
      <p>Готовые троллейбусы на&nbsp;заводском дворе ярославского автозавода.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2685.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/81.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/81.jpg"><img style="max-width: 60%;" alt="" src="img/docs/thumbs/81.jpg"></a>
    </div>
    <div class="desc">
      <p>Из&nbsp;переписки Управления материально-технического снабжения Военно-воздушных сил РККА с&nbsp;Ярославским автозаводом о&nbsp;подготовке к&nbsp;выпуску нового образца пятитонного автомобиля.&nbsp;2&nbsp;ноября 1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-450. Оп.&nbsp;3. Д. 20. Л. 18.</p>
    </div>
  </div>
</div>

<div class="docs-container double">
  <div class="imgs">
    <a data-title="<a href='img/docs/82.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/82.jpg"><img alt="" src="img/docs/thumbs/82.jpg"></a>
    <a data-title="<a href='img/docs/83.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/83.jpg"><img alt="" src="img/docs/thumbs/83.jpg"></a>
    <a data-title="<a href='img/docs/84.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/84.jpg"><img style="max-width: 30%;" alt="" src="img/docs/thumbs/84.jpg"></a>
    <a data-title="<a href='img/docs/85.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/85.jpg"><img alt="" src="img/docs/thumbs/85.jpg"></a>
  </div>
  <div class="desc">
    <p>Продукция Ярославского автозавода. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-923. Оп.&nbsp;1. Д. 34.</p>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/86.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/86.jpg"><img alt="" src="img/docs/thumbs/86.jpg"></a>
    </div>
    <div class="desc">
      <p>Бригадир бригады по&nbsp;ремонту пути станции Рыбинск В.&nbsp;К. Чернов за&nbsp;работой.&nbsp;1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2353.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/87.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/87.jpg"><img alt="" src="img/docs/thumbs/87.jpg"></a>
    </div>
    <div class="desc">
      <p>Ярославская судоверфь. Новые суда перед сдачей в&nbsp;эксплуатацию. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2691.</p>
    </div>
  </div>
</div>

<div class="photo-block double">
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/89.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/89.jpg"><img alt="" src="img/docs/thumbs/89.jpg"></a>
    </div>
    <div class="desc">
      <p>Образец трудовой книжки, введенной в&nbsp;1939&nbsp;г. для рабочих и&nbsp;служащих государственных и&nbsp;кооперативных предприятий и&nbsp;учреждений.&nbsp;1939&nbsp;г. ГКУ ЯО&nbsp;ГАЯО.&nbsp;Ф. Р-951. Оп.&nbsp;1. Д. 6.</p>
    </div>
  </div>
  <div class="docs-container single">
    <div class="imgs">
      <a data-title="<a href='img/docs/88.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/88.jpg"><img alt="" src="img/docs/thumbs/88.jpg"></a>
    </div>
    <div class="desc">
      <p>Транспортировка автопокрышек на&nbsp;пароход на&nbsp;пристани Ярославль.&nbsp;1937&nbsp;г. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2347.</p>
    </div>
  </div>
</div>

<div class="docs-container triple">
  <div class="imgs">
    <a data-title="<a href='img/docs/90.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/90.jpg"><img alt="" src="img/docs/thumbs/90.jpg"></a>
    <a data-title="<a href='img/docs/91.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/91.jpg"><img alt="" src="img/docs/thumbs/91.jpg"></a>
    <a data-title="<a href='img/docs/92.jpg' target='_blank'>Открыть оригинал</a>" data-lightbox="8" href="img/docs/92.jpg"><img style="max-width: 20%;" alt="" src="img/docs/thumbs/92.jpg"></a>
  </div>
  <div class="desc">
    <p>Строительство ТЭЦ-1&nbsp;в г. Ярославле. 1930-е гг. ГКУ ЯО&nbsp;ГАЯО. Опись позитивов. П1-2629, П1-2630, П1-2632.</p>
  </div>
</div>